@use "variables";
@use "sass:color";

.accueil_services {
  display: flex;
  height: 100%;

  &__titre {
    text-transform: uppercase;
    color: variables.$primary;
    font-size: 30px;
    padding-left: 5%;
    padding-top: 0%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  &__texte {
    text-align: center; 
    margin-bottom: 30px;
  }

  .hr-titre {
    display: none;
    color: variables.$dark;
  }

  img {
    justify-content: center;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.14);
  }

  .container-informations {
    display: block;
  }

  .bouton-voir-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$primary;
    color: variables.$light;
    font-weight: 900;
    border-radius: 15px;
    border-style: none;
    position: relative;
    top: 30px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;

    &:hover {
      background: color.adjust(variables.$primary, $blackness: 10%);
    }
  }

  br {
    display: block;
  }

  .savoir-plus {
    display: none;
  }
}

// TABLETTE ET DESKTOP

@media only screen and (min-width: 365px) {
  .accueil_services {
    &__titre {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 0;
      padding-top: 5%;
    }

    &__texte {
      margin: 5%;
    }

    .hr-titre {
      width: 65%;
      padding: 0;
      display: block;
      text-align: left;
      margin-left: 5%;
      margin-bottom: 3%;
    }

    img {
      margin: 5%;
      width: 90%;
    }

    br {
      display: none;
    }

    .bouton-voir-plus {
      margin-top: 10%;
      margin-bottom: 0%;
    }
  }
}

// DESKTOP SEULEMENT

@media only screen and (min-width: 768px) {
  .accueil_services {
    
    &__texte {
      text-align: left;
      margin-left: 10%;
    }

    .hr-titre {
      width: 45%;
    }

    .savoir-plus {
        display: flex;
        justify-content: flex-start;
        margin-left: 5%;
        text-decoration: underline;
    }

    .bouton-voir-plus {
      display: none;
    }

    .container-informations {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

    img {
      position: relative;
      left: 50%;
      transform: translate(-50%,0%);
      order: 2;
      max-width: 400px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

// DESKTOP EXTRA LARGE SEULEMENT

@media only screen and (min-width: 1200px) {
  .accueil_services {
    
    &__texte {
      position: relative;
      top: 50%;
      transform: translate(0%,-50%);
    }

    .container-informations {
        display: grid;
        grid-template-columns: 1fr 35%;
      }

    img {
      max-width: 300px;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
