@use 'variables';
@use "sass:color";

.accueil_temoignages {
    width: 100%;
    overflow: hidden;

    &__titre {
        text-transform: uppercase;
        color: variables.$primary;
        font-size: 30px;
        padding-left: 5%;
        padding-top: 0%;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }

    &__block {
        width: 100%;
        height: auto; 
        position: relative;
        margin-top: -6px; 
    }  
    &__photo1 {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-image: url("sources/medias/carole-simon.jpg");
        background-size: cover;
        margin: 0 auto;
        position: relative;
        top: 60px;
        filter: drop-shadow(10px 4px 2px rgba(0,0,0,0.2));
        
    }
    &__photo2 {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-image: url("sources/medias/fabiola.jpg");
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        position: relative;
        top: 60px;
        filter: drop-shadow(10px 4px 2px rgba(0,0,0,0.2));
    }
    &__photo3 {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-image: url("sources/medias/jonathan.jpg");
        background-size: cover;
        margin: 0 auto;
        position: relative;
        top: 60px;
        filter: drop-shadow(10px 4px 2px rgba(0,0,0,0.2));
    }

    &__couleur1 {
        width: 100%;
        height: 180px;
        background-color: variables.$primary-light;
        text-align: center;
    }

    &__couleur2 {
        width: auto;
        height: 180px;
        background-color: variables.$primary;
        text-align: center;
    }

    &__couleur3 {
        width: 100%;
        height: 180px;
        background-color: variables.$secondary;
        text-align: center;
    }

    &__texte {
        color: variables.$light;
        font-weight: bold;
        font-size: 20px;
        padding: 60px 40px 0 20px;
        margin: 0 50px 0 50px;
    }
    
    &__nom {
        color: variables.$light;
        font-weight: bold;
    }

    &__bouton {
        display: block;
        background-color: variables.$primary;
        color: variables.$light;
        height: 40px;
        font-weight: 900;
        font-size: 20px;
        border-radius: 15px;
        border-style: none;
        position: relative;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);

        &:hover {
            background-color: variables.$primary-light;
        }
    }
    
    hr {
        display: none;
        color: variables.$dark;
    }

    &__altbouton {
        display: none;
    }

    @media screen and (min-width: 375px) {
        &__titre {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 0;
            padding-top: 5%;
        }

        hr {
            width: 50%;
            padding: 0;
            display: block;
            text-align: left;
            margin-left: 5%;
            margin-bottom: 3%;
          }
    }

    @media screen and (min-width: 800px) {
        &__block {
            width: 100%;
            height: auto; 
            position: relative;
            margin-top: 65px; 
        } 

        &__photo1 {
            width: 225px;
            height: 225px;
            border-radius: 50%;
            background-image: url("sources/medias/carole-simon.jpg");
            background-size: cover;
            margin: 0 auto;
            position:relative;
            top: -35px;
            filter: drop-shadow(10px 4px 2px rgba(0,0,0,0.2));
            float: left;
            margin-left: 80px;
            
        }
        &__photo2 {
            width: 225px;
            height: 225px;
            border-radius: 50%;
            background-image: url("sources/medias/fabiola.jpg");
            background-size: cover;
            background-position: center;
            margin: 0 auto;
            position:relative;
            top: -35px;
            filter: drop-shadow(10px 4px 2px rgba(0,0,0,0.2));
            float: right;
            margin-right: 80px;
        }
        &__photo3 {
            width: 225px;
            height: 225px;
            border-radius: 50%;
            background-image: url("sources/medias/jonathan.jpg");
            background-size: cover;
            margin: 0 auto;
            position:relative;
            top: -35px;
            filter: drop-shadow(10px 4px 2px rgba(0,0,0,0.2));
            float: left;
            margin-left: 80px;
        }
    
        &__couleur1 {
            width: 100%;
            height: 160px;
            background-color: variables.$primary-light;
            text-align: center;
            margin-left: 120px;
            margin-bottom: 100px;
        }
    
        &__couleur2 {
            width: auto;
            height: 160px;
            background-color: variables.$primary;
            text-align: center;
            margin-right: 120px;
            margin-bottom: 100px;
        }
    
        &__couleur3 {
            width: 100%;
            height: 160px;
            background-color: variables.$secondary;
            text-align: center;
            margin-left: 120px;
            margin-bottom: 100px;
        }
    
        &__texte {
            color: variables.$light;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
        }
        
        &__nom {
            color: variables.$light;
            font-weight: bold;
            font-size: 14px;
        }

        &__bouton {
            display: none;
        }

        &__altbouton {
            display: flex;
            justify-content: flex-end;
            margin-right: 5%;
            text-decoration: underline;
        }
    }

    @media screen and (min-width: 1240px) {
        
        &__grid {
            width: 100%;
            height: 555px;
            background-color: variables.$secondary;
            background-image: url("sources/medias/bg_temoignages.svg");
            background-size: 125%;
            background-position: center;
            padding-left: 20px;
            padding-right: 20px;
            display: grid;
            grid-gap: 5%;
            padding-top: 45px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-items: center;
            position: relative;
        }
        
        &__block {
            width: 375px;
            height: 475px;
            background-color: rgba(0,0,0,0.1);
            padding-top: 50px;
            top: 0;
            display: grid;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 20px;margin-top: -6px; 
        }

        

        &__photo1 {
            width: 275px;
            height: 275px;
            border-radius: 50%;
            background-image: url("sources/medias/carole-simon.jpg");
            background-size: cover;
            background-position: center;
            margin-left: 50px;
            top: 0;
            filter: drop-shadow(10px 4px 2px rgba(0,0,0,0.2));
        }

        &__photo2 {
            width: 275px;
            height: 275px;
            border-radius: 50%;
            background-image: url("sources/medias/fabiola.jpg");
            background-size: cover;
            background-position: center;
            margin-left: 50px;
            top: 0;
            filter: drop-shadow(10px 4px 2px rgba(0,0,0,0.2));
        }
        &__photo3 {
            width: 275px;
            height: 275px;
            border-radius: 50%;
            background-image: url("sources/medias/jonathan.jpg");
            background-size: cover;
            margin-left: 50px;
            top: 0;
            filter: drop-shadow(10px 4px 2px rgba(0,0,0,0.2));
        }
    
        &__couleur1 {
            width: 420px;
            height: auto;
            margin: 0;
            padding: 0;
            background-color: transparent;
            top: 0;
        }
    
        &__couleur2 {
            width: 420px;
            height: auto;
            margin: 0;
            padding: 0;
            background-color: transparent;
            text-align: center;
            top: 0;
        }
    
        &__couleur3 {
            width: 420px;
            height: auto;
            margin: 0;
            padding: 0;
            background-color: transparent;
            text-align: center;
            top: 0;
        }

        &__texte {
            color: variables.$light;
            max-width: 310px;
            font-weight: bold;
            font-size: 26px;
            margin: 0;
            margin-left: 50px;
            padding: 0;
            text-align: left;
        }
        
        &__nom {
            color: variables.$light;
            font-weight: bold;
            margin-left: 50px;
            font-size: 18px;
            text-align: left;
        }

        &__bouton {
            display: none;
        }

        &__altbouton {
            display: flex;
            justify-content: flex-end;
            margin-right: 5%;
            text-decoration: underline;
        }
    }
}