@use 'variables';
@use "sass:color";

// MOBILE

.accueil__actualites {
    width: 100%;
    height: 100%;
    position: relative;

    .titre {
        text-transform: uppercase;
        color: variables.$primary;
        font-size: 30px;
        padding-left: 5%;
        padding-top: 0%;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }

    .plus-actualites {
        display: none;
    }

    .cartes {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        background-color: variables.$secondary;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;

        .carte {
            border-radius: 30px;
            padding: 5%;
            position: relative;

            img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 18px;
            }

            p {
                display: none;
            }

            h3 {
                color: variables.$light;
                margin-bottom: 30px;
            }

            .bouton-lire {
                display: block;
                background-color: variables.$primary-light;
                color: variables.$dark;
                font-weight: 900;
                border-radius: 30px;
                border-style: none;
                padding: 12px 20px;
                float: right;
                display: block;
                position: relative;
                right: 10px;
                top: -60px;
                cursor: pointer;

                &:hover {
                    background-color: variables.$primary;
                }
            }

            .bouton-lire-article {
                display: none;
            }
        }

        hr {
            width: 80%;
            padding: 0;
        }

        .hr-cartes {
            display: block;
            color: variables.$light;
        }
    }

    .hr-titre {
        display: none;
        color: variables.$dark;
    }

    .bouton-voir-plus {
        display: block;
        background-color: variables.$primary;
        color: variables.$light;
        font-weight: 900;
        border-radius: 15px;
        border-style: none;
        position: relative;
        top: 30px;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        cursor: pointer;

        &:hover {
            background: color.adjust(variables.$primary, $blackness: 10%); 
        }
    }

    .cartes-swiper {
        display: none;
    }
}

// TABLETTE ET DESKTOP

@media only screen and (min-width: 365px) { //768px tablette / 365px mobile
    .accueil__actualites {
        width: 100%;
        height: 100%;
        position: relative;

        .titre {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 0;
            padding-top: 5%;
        }

        .hr-titre {
            width: 65%;
            padding: 0;
            display: block;
            text-align: left;
            margin-left: 5%;
            margin-bottom: 3%;
        }

        .plus-actualites {
            display: flex;
            justify-content: flex-end;
            margin-right: 5%;
            text-decoration: underline;
        }

        .bouton-voir-plus {
            display: none;
        }

        .cartes {
            display: none;
        }

        .cartes-swiper {
            display: block;

            .swiper-container2 {
                width: 100%;
                height: 100%;
            }
        
            .carte {
                background-color: variables.$secondary;
                border-radius: 30px;
                padding: 5%;
                margin: 5%;
                height: 40vh;
                position: relative;

                img {
                    width: 100%;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    border-radius: 20px;
                }

                h3 {
                    color: variables.$light;
                    margin-bottom: 30px;
                }

                p {
                    color: variables.$light;
                    font-weight: 100;
                    margin-bottom: 30px;
                    display: block;
                }

                .bouton-lire {
                    display: none;
                }

                .bouton-lire-article {
                    background-color: variables.$primary-light;
                    color: variables.$dark;
                    font-weight: 900;
                    border-radius: 15px;
                    border-style: none;
                    padding: 12px 20px;
                    bottom: 0px;
                    display: block;
                    cursor: pointer;


                    &:hover {
                        background-color: variables.$primary;
                    }
                }

            }

        }
    }
}

// DESKTOP SEULEMENT    

@media only screen and (min-width: 768px) {
    .accueil__actualites {

        .hr-titre {
            width: 45%;
        }

        .cartes-swiper {
            display: none;
        }

        .cartes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: transparent;

            .hr-cartes {
                display: none;
            }

            .carte {
                background-color: variables.$secondary;
                border-radius: 30px;
                padding: 5%;

                img {
                    aspect-ratio: 16/9;
                }

                p {
                    color: variables.$light;
                    font-weight: 100;
                    margin-bottom: 80px;
                    display: block;
                }

                .bouton-lire {
                    display: none;
                }

                .bouton-lire-article {
                    background-color: variables.$primary-light;
                    color: variables.$dark;
                    font-weight: 900;
                    border-radius: 15px;
                    border-style: none;
                    padding: 12px 20px;
                    position: absolute;
                    bottom: 18%;
                    display: block;
                    cursor: pointer;


                    &:hover {
                        background-color: variables.$primary;
                    }
                }

            }
            }
    }
}
