// Melody

@use 'variables';
@use "sass:color";

//----------------------- STYLES GÉNÉRAUX -----------------------//

.aPropos {
    position: relative;
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    //padding-bottom: 10%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color: variables.$light;
    color: variables.$dark;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
    border-radius: 10px;

    & h1 {
        color: variables.$secondary;
        width: 80%;
        padding: 4px;
        border-radius: 5px;
        text-align: center;
        text-transform: uppercase;
    }

    & h3 {
        background-color: variables.$primary-light;
        width: 80%;
        padding: 4px;
        border-radius: 5px;
        text-align: center;
    }

    &__hr {
        width: 80%;
    }

    &__paragraphe {
        width: 80%;
        //margin-top: 10%;
    }

    &__grid {
        display: grid;
        width: 80%;
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 16px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    &__liste {
        width: 100%;
        background-color: variables.$secondary;
        margin: 0%;
        padding: 6%;
        box-sizing: border-box;
        font-size: 16px;
        color: variables.$light;
        border-radius: 5px;
        //margin-top: 10%;
    }

    & strong {
        font-size: 18px;
    }

    &__photoHistoire {
        width: 80%;
        height: 316px;
        background-image: url("./sources/medias/page_aPropos/kiosque.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        background-position: -140px;
    }

    &__photoMission {
        width: 80%;
        height: 316px;
        background-image: url("./sources/medias/page_aPropos/manifestation.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        background-position: -120px;
    }

    & a {
        width: 100%;
        text-decoration: none;

        &:visited {
            color: inherit;
        }
    }

    &__links {
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 4%;
        margin-bottom: 4%;
        //border: solid 1px blue;
    }

    &__btn {
        display: block;
        margin: auto;
        height: 60px;
        width: 30%;
        font-size: 12px;
        border-radius: 5px;
        border: none;
        background-color: variables.$primary;
        color: variables.$light;
        font-weight: bold;
        padding: 4px;
        margin-top: 8px;

        &:hover {
            background-color: variables.$secondary;
            color: variables.$light;
            cursor: pointer;
        }
    }


//----------------------- MEDIA QUERIES -----------------------//


@media screen and (min-width: 375px) { 
    &__photoHistoire {
        background-position: -80px;
    }

    &__photoMission {
        background-position: -80px;
    }
}

@media screen and (min-width: 525px) {
    &__btn {
        height: 60px;
        width: 40%;
        font-size: 18px;
    }

    &__photoHistoire {
        background-position: 0;
    }

    &__photoMission {
        background-position: 0;
    }

    &__liste {
        width: 100%;
        margin: 0%;
        padding: 4%;
        text-align: left;
    }

    & strong {
        font-size: 18px;
    }
}

@media screen and (min-width: 800px) {
    &__btn {
        height: 60px;
        width: 40%;
        padding: 0;
    }

    &__photoHistoire {
        background-position: 0;
    }

    &__photoMission {
        background-position: 0;
    }

    &__liste {
        width: 60%;
    }

    
    &__liste {
        width: 100%;
        margin: 0%;
        padding: 4%;
        text-align: left;
    }
}

@media screen and (min-width: 950px) {
    &__photoHistoire {
        background-position: 0 0;
    }

    &__grid {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 16px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    &__liste {
        width: 100%;
        margin: 0%;
        padding: 4%;
        text-align: center;
    }

    & strong {
        font-size: 20px;
    }

}


@media screen and (min-width: 1240px) {
    width: 60%;
    
    &__links {
        width: 100%;
    }
    
    &__photoMission {
        background-position: 0 -110px;
    }
}

}

.slide-propos1 {
    background-image: url("./sources/medias/page_aPropos/propos1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 55%;
    height: 100%;
}

.slide-propos2 {
    background-image: url("./sources/medias/page_aPropos/propos2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 95%;
    height: 100%;
}

.slide-propos3 {
    background-image: url("./sources/medias/page_aPropos/propos3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 80%;
    height: 100%;
}