@use "variables";
@use "sass:color";

// ----------------------Section héro --------------------------------

.news-article__hero {
    width: 100%;
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;

    .swiper-container {
        width: 100%;
        height: 100%;
        border-top: 15px solid variables.$light;
    }

    .slides__texte {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        text-align: center;
        color: variables.$light;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }
    }

    .slide-1 {
        background-image: url(sources/medias/page_news_article/actualite_hero_1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0%;
        height: 100%;
    }

    .slide-2 {
        background-image: url(sources/medias/page_news_article/actualite_hero_2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        height: 100%;
    }

    .slide-3 {
        background-image: url(sources/medias/page_news_article/actualite_hero_3.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    .swiper-pagination-bullet-active {
        background-color: variables.$primary-light !important;
    }

    .swiper-pagination {
        position: relative !important;
        top: -10% !important;
    }

    .fade-black {
        position: absolute;
        background-image: linear-gradient(transparent, variables.$dark);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    // DESKTOP

    @media only screen and (min-width: 768px) {
        .slides__texte {
            h1 {
                font-size: 45px;
            }

            p {
                font-size: 25px;
            }
        }

        .swiper-container {
            border-top: 0px solid variables.$light;
        }
    }
}

// ----------------------Section nouvelle -------------------------------

.news-article__nouvelle {
    &__titre {
        text-transform: uppercase;
        color: variables.$primary;
        font-size: 30px;
        padding-top: 0%;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__texte {
        margin: 5%;
        text-align: center;
    }

    &__resume {
        text-align: center;

        &__container {
            background-color: rgba(241, 186, 133, 0.5);
            padding: 5%;
            margin-top: 5%;
        }
    }

    ul {
        margin: auto;
        width: 600px;

    }

    .hr-titre {
        display: flex;
        justify-content: center;
        width: 80%;
        padding: 0;
        margin-left: 5%;
        margin-bottom: 3%;
        margin: auto;
    }

    button {
        position: relative;
        background-color: variables.$secondary;
        color: variables.$light;
        text-transform: uppercase;
        font-weight: 900;
        border-radius: 15px;
        border-style: none;
        padding: 12px 20px;
        position: relative;
        margin-top: 20px;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        cursor: pointer;
        transition-duration: 0.2s;

        &:hover {
            background: color.adjust(variables.$secondary, $blackness: 10%);
        }
    }

    .prochaine-nouvelle {
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
        text-decoration: underline;
        cursor: pointer;
    }

    // TABLETTE ET DESKTOP

    @media only screen and (min-width: 365px) {
        .news-article__nouvelle {
            &__texte {
                font-size: 20px;
            }

            &__resume {
                font-size: 20px;
            }

        }

        button {
            font-size: 20px;
        }

        li {
            font-size: 20px;
        }
    }

    // DESKTOP

    @media only screen and (min-width: 768px) {
        .news-article__nouvelle {
            &__texte {
                text-align: start;
            }
        }
    }
}

// -------------------------- Articles similaires -------------------------

.news-article__similaire {
    width: 100%;
    height: 100%;
    position: relative;

    &__titre {
        text-transform: uppercase;
        color: variables.$primary;
        font-size: 30px;
        padding-top: 0%;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .hr-titre {
        width: 65%;
        padding: 0;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .cartes {
        display: none;
    }

    .cartes-swiper {
        display: block;
        margin-top: 5%;
        margin-bottom: 5%;

        .swiper-container2 {
            width: 100%;
            height: 100%;
        }

        .carte {
            background-color: variables.$secondary;
            border-radius: 30px;
            padding: 5%;
            margin: 5%;
            height: 40vh;
            position: relative;
            cursor: pointer;

            &:hover {
                background: color.adjust(variables.$secondary, $blackness: 10%);
            }

            img {
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
                border-radius: 20px;
            }

            h3 {
                color: variables.$light;
                margin-bottom: 30px;
                text-align: center;
            }

            p {
                color: variables.$light;
                font-weight: 100;
                margin-bottom: 80px;
                text-align: center;
            }

        }

    }

    // DESKTOP SEULEMENT    

    @media only screen and (min-width: 768px) {
        .cartes-swiper {
            display: none;
        }

        .cartes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: transparent;
            margin-top: 5%;
            margin-bottom: 12%;
            margin-left: 5%;
            margin-right: 5%;

            .hr-cartes {
                display: none;
            }

            .carte {
                background-color: variables.$secondary;
                border-radius: 30px;
                padding: 5%;
                position: relative;
                height: 90%;
                margin: 5%;
                cursor: pointer;
                transition-duration: 0.2s;

                &:hover {
                    background: color.adjust(variables.$secondary, $blackness: 10%);
                }

                img {
                    width: 100%;
                    border-radius: 25px;
                    aspect-ratio: 16/9;
                }

                h3 {
                    color: variables.$light;
                    margin-bottom: 30px;
                    text-align: center;
                }

                p {
                    color: variables.$light;
                    font-weight: 100;
                    display: block;
                    text-align: center;
                }

            }

            .carte--02 {
                top: 50px;
            }
        }
    }

}