@use 'variables';
@use "sass:color";


.service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__congrecontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        max-width: 42vh;
        padding-left: 2vh;
        padding-right: 2vh;
     
    }

    &__congrebackgroundcontainer{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        background-color: #2c856d56;
        padding-top: 2vh;
        padding-bottom: 2vh;
        
        width: 100%;
    }
    

    &__associationbackgroundcontainer{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        background-color: #c15a2e75;
        padding-top: 2vh;
        padding-bottom: 2vh;
        
        width: 100%;
    }
  
    &__ccrbackgroundcontainer{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        background-color: #f1b98577;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 100%;
        
    }


   
    

   &__locatairebackgroundcontainer{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        background-color: #2c856d56;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 100%;
    }





    


    &__congretitre{
        font-size: 3.5vh;
        color: variables.$light;
        transition: transform 0.5s; 
        transform: translate(0vh, 13vh); 
    }

    &__textcongres{
        padding-left: 2vh;
        padding-right: 2vh;
        height: 20vh;
    }

    &__congretexte{
        font-size: 1.8vh;
        color: rgba(240, 248, 255, 0);
        transition: 0.5s;  
    }

    &__shadowcolor{ 
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.247); 
        z-index: 1;
        height: auto;
        border-radius: 25px;
        transition: 2s;
        
    }


    &__ensavoirplus{
         padding-bottom: 1vh;   
        .bouttonsavoirplus{
            margin-top: -1vh;
            color: rgba(240, 248, 255, 0);
            background-color: rgba(0, 139, 139, 0);
            height: 5vh;
            width: 100%;
            max-width: 15vh;
            font-size: 1.8vh;
            font-weight: bolder;
            border-radius: 15px;
            border-color: none;
            border: #00000000;
            text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0);
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                background: color.adjust(variables.$secondary, $blackness: 20%);
                height: 5.2vh;
                max-width: 15.2vh;
                font-size: 1.85vh;
            }
        } 

       
        
    }

   

    &__insidecontainer__congres{
        background: no-repeat url(sources/medias/page_service/congres.png ) ;
        background-size:cover;
        border-radius: 25px;
        
        
        
        &:hover{
            
            .service__congretexte{
              
                color: variables.$light;
                
            }

            .service__congretitre{
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(0vh, 1vh); 
                transition: 0.3s; 
            }

            .bouttonsavoirplus{
                color: variables.$light;
                background-color:adust(variables.$secondary, $blackness: 20% );
                text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281) ;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
            }

            .service__shadowcolor{ 
                display: flex;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.644); 
                z-index: 1;
                height: auto;
                
            }

        }

      
    }

    &__insidecontainer__association{
        background: no-repeat url(sources/medias/page_service/association.png ) ;
        background-size:cover;
        border-radius: 25px;
        
        
        &:hover{
            
            .service__congretexte{
                
                color: variables.$light;
                
            }

            .service__congretitre{
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(0vh, 1vh); 
                transition: 0.3s; 
            }

            .bouttonsavoirplus{
                color: variables.$light;
                background-color: variables.$secondary;
                text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281) ;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
            }

            .service__shadowcolor{ 
                display: flex;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.644); 
                z-index: 1;
                height: auto;
                
            }

        }

      
    }
    
    &__insidecontainer__ccr{
        background: no-repeat url(sources/medias/page_service/ccr.png ) ;
        background-size:cover;
        border-radius: 25px;
        
        
        &:hover{
            
            .service__congretexte{
                
                color: variables.$light;
                
            }

            .service__congretitre{
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(0vh, 1vh); 
                transition: 0.3s; 
            }

            .bouttonsavoirplus{
                color: variables.$light;
                background-color: variables.$secondary;
                text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281) ;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
            }

            .service__shadowcolor{ 
                display: flex;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.644); 
                z-index: 1;
                height: auto;
                
            }

        }

      
    }

    &__insidecontainer__locataire{
        background: no-repeat url(sources/medias/page_service/locataire.png ) ;
        background-size:cover; 
        border-radius: 25px;
        
        
        &:hover{
            
            .service__congretexte{
                
                color: variables.$light;
                
            }

            .service__congretitre{
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(0vh, 1vh); 
                transition: 0.3s; 
            }

            .bouttonsavoirplus{
                color: variables.$light;
                background-color: variables.$secondary;
                text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281) ;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
            }

            .service__shadowcolor{ 
                display: flex;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.644); 
                z-index: 1;
                height: auto;
                
            }

        }

      
    }
    
    @media only screen and (min-width: 768px) {

        .service {
        
            &__congrecontainer{
                
                max-width: 65vh;
                
            }

            &__congretitre{
                font-size: 4vh;
            }

            &__congretexte{
                font-size: 2vh;
                color: rgba(240, 248, 255, 0);
                transition: 0.5s;  
            }
        
        }
    }

    @media only screen and (min-width: 1600px) {

        .service {
        
            &__congrecontainer{
                
                max-width: 80vh;
            
            }

            &__congretitre{
                font-size: 4vh;
            }

            &__congretexte{
                font-size: 2.2vh;
                color: rgba(240, 248, 255, 0);
                transition: 0.5s;  
            }

           
        
        }
    }
}


