@use 'variables';
@use "sass:color";

.congre__hero {
    width: 100%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .slides__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    .slide-1 {
        background-image: url(sources/medias/page_service/congres.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    .slide-2 {
        background-image: url(sources/medias/page_service/congres_numero2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        height: 100%;
    }

    .slide-3 {
        background-image: url(sources/medias/page_service/congres_numero3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    h1 {
        color: variables.$light;
        font-size:20px;
        margin: 0;
        text-align: center;

    }

    @media only screen and (min-width: 768px) {
        h1 {
            font-size: 30px;
        }

        .slides__container {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }


    @media only screen and (min-width: 920px) {
        h1 {
            font-size: 40px;
        }

        .slides__container {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
    }

    button {
        position: relative;
        background-color: variables.$secondary;
        color: variables.$light;
        text-transform: uppercase;
        font-weight: 900;
        border-radius: 30px;
        border-style: none;
        padding: 12px 20px;
        position: relative;
        margin-top: 20px;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        transition-duration: 0.2s;
        cursor: pointer;

        &:hover {
            background: color.adjust(variables.$secondary, $blackness: 10%);
        }
    }

    .swiper-pagination-bullet-active {
        background-color: variables.$primary-light !important;
    }

    .swiper-pagination {
        position: relative !important;
        top: -10% !important;
    }
}

.swiper-button-next,
.swiper-button-prev {
    background-color: variables.$light;
    padding: 8px 16px;
    border-radius: 100%;
    margin: 5%;
    opacity: 0;
    transform: scale(0.7);

    &::after {
        color: variables.$dark;
    }
}

.swiper-button-prev {

    &::after {
        top: 0%;
        left: 50%;
        transform: translate(-12%, 0%);
    }
}

.swiper-button-next {

    &::after {
        top: 0%;
        left: 50%;
        transform: translate(12%, 0%);
    }
}

.fade-black {
    position: absolute;
    background-image: linear-gradient(transparent, variables.$dark);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (min-width: 365px) {
    .swiper-button-next,
    .swiper-button-prev {
        opacity: 1;
    }
}

.congre  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh;

    &__backgroundcolor{
        background-color:variables.$light ;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__contenue{
        padding: 2vh;
    }

    &__titreservice{ 
        display: flex;
        justify-content: center;
        color:variables.$secondary ;
        font-size: 4vh;
    }

    &__backgroundcolortext{ 
        background-color:#c15a2e70 ;
        border-radius: 10px;
    }

    &__premiertext{ 
        padding: 1vh;
        text-align: center;
        font-size: 1.8vh;
    }

    &__containerdeuxiemetext{ 
        padding-left: 1.5vh;
        padding-right: 1.5vh;
    }

    &__deuxiemetext{
        font-size: 1.7vh;
        text-align: justify;
    }

    &__containertroisièmetext{ 
        padding-left: 1.5vh;
        padding-right: 1.5vh;
    }

    &__troisièmetext{
        font-size: 1.7vh;
        text-align: justify;
    }

    &__rapportcarte{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }

    &__containercarte{
        width: 100%;
        max-width: 20vh;
    }

    &__carte{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: variables.$secondary;
        border-radius: 2vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__cartetext{
        padding-left: 0.2vh;
        padding-right: 0.2vh;
        font-size: 1.5vh;
        color: variables.$light;
    }

    &__ensavoirplus{
        padding-bottom: 1vh;
    }

    &__bouttonsavoirpluscongre{
        color: variables.$secondary;
        background-color: variables.$light;
        height: 3vh;
        width: 100%;
        max-width: 15vh;
        font-size: 1.5vh;
        font-weight: bolder;
        border-radius: 15px;
        border-color: none;
        border: #00000000;
        text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0);
        cursor: pointer;
        transition: 0.5s;

        &:hover{
            background:#dbd7bf;
        }
    } 


    &__congreensavoirplus{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 2vh;
        padding-bottom: 2vh;
    } 


    &__bouttonsavoirplus{
        color: variables.$light;
        background-color: variables.$secondary;
        height: 3vh;
        width: 100%;
        max-width: 15vh;
        font-size: 1.5vh;
        font-weight: bolder;
        border-radius: 15px;
        border-color: none;
        border: #00000000;
        text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0);
        cursor: pointer;
        transition: 0.5s;

        &:hover{
            background:#194e40;
        }
    } 
    

    @media only screen and (min-width: 768px) {
        .congre  {
            
            &__container{
                padding-left: 8vh;
                padding-right: 8vh;
            }
            
            &__backgroundcolor{
                border-radius: 15px;
            }
        
            &__contenue{
                padding-top: 2vh;
                padding-left: 5vh;
                padding-right: 5vh;
            }
        
            &__titreservice{ 
                font-size: 6vh;
                margin-top: 0px;
            }
        
            &__backgroundcolortext{ 
                border-radius: 15px;
            }
        
            &__premiertext{ 
                padding: 1vh;
                text-align: center;
                font-size: 2vh;
            }
        
            &__containerdeuxiemetext{ 
                padding-left: 1.8vh;
                padding-right: 1.8vh;
            }
        
            &__deuxiemetext{
                font-size: 1.9vh;
            }
        
            &__containertroisièmetext{ 
                padding-left: 1.8vh;
                padding-right: 1.8vh;
            }
        
            &__troisièmetext{
                font-size: 1.9vh;
            }
        
            &__rapportcarte{
                flex-direction: row;
                gap: 2vh;
            }
        
            &__containercarte{
                width: 100%;
                max-width: 25vh;
            }
        
            &__carte{
                border-radius: 2.5vh;
            }
        
            &__cartetext{
                padding-left: 0.3vh;
                padding-right: 0.3vh;
                font-size: 1.5vh;
            }
        
        
            &__bouttonsavoirpluscongre{  
                font-size: 1.5vh;
            } 
        
        
            
        
        
            &__bouttonsavoirplus{
                font-size: 1.5vh;
            } 

             

        }

    }

    @media only screen and (min-width: 1600px) {
        .congre {
            display: flex;
            flex-direction: column;
            justify-content: center;
           
            
           
            &__container{
                padding-left: 40vh;
                padding-right: 40vh;
            }
                
            &__backgroundcolor{
                border-radius: 25px;
            }
        
            &__contenue{
                padding-top: 2vh;
                padding-left: 10vh;
                padding-right: 10vh;
            }
        
            &__titreservice{ 
                font-size: 6vh;
                margin-top: 0px;
            }
        
            &__backgroundcolortext{ 
                border-radius: 15px;
            }
        
            &__premiertext{ 
                padding: 1vh;
                text-align: center;
                font-size: 2vh;
            }
        
            &__containerdeuxiemetext{ 
                padding-left: 1.8vh;
                padding-right: 1.8vh;
            }
        
            &__deuxiemetext{
                font-size: 1.9vh;
            }
        
            &__containertroisièmetext{ 
                padding-left: 1.8vh;
                padding-right: 1.8vh;
            }
        
            &__troisièmetext{
                font-size: 1.9vh;
            }
        
            &__rapportcarte{
                flex-direction: row;
                gap: 2vh;
            }
        
            &__containercarte{
                width: 100%;
                max-width: 25vh;
            }
        
            &__carte{
                border-radius: 2.5vh;
            }
        
            &__cartetext{
                padding-left: 0.3vh;
                padding-right: 0.3vh;
                font-size: 1.5vh;
            }
        
        
            &__bouttonsavoirpluscongre{  
                font-size: 1.5vh;
            } 
        
        
            
        
        
            &__bouttonsavoirplus{
                font-size: 1.5vh;
            } 

             

        }

    }
   
}



