@use "variables";
@use "sass:color";

.news-article__hero {
    width: 100%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .slides__texte {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        text-align: center;
        color: variables.$light;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }
    }

    .slide-1 {
        background-image: url(sources/medias/page_news_article/actualite_hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0%;
        height: 100%;
    }

    .slide-2 {
        background-image: url(sources/medias/slider_hero_02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        height: 100%;
    }

    .slide-3 {
        background-image: url(sources/medias/slider_hero_03.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }



    @media only screen and (min-width: 768px) {
        .slides__texte {
            h1 {
                font-size: 45px;
            }

            p {
                font-size: 25px;
            }
        }
    }

    .swiper-pagination-bullet-active {
        background-color: variables.$primary-light !important;
    }

    .swiper-pagination {
        position: relative !important;
        top: -10% !important;
    }

    .fade-black {
        position: absolute;
        background-image: linear-gradient(transparent, variables.$dark);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}