@use "variables";
@use "sass:color";

.news-hub_une {
  height: 100%;
  position: relative;

  a {
    text-decoration: none;
  }

  &__titre {
    text-transform: uppercase;
    color: variables.$primary;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  &__texte {
    text-align: start;
  }

  .hr-titre {
    display: none;
    color: variables.$dark;
  }

  img {
    justify-content: center;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 30px;
    order: 1;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.14);
  }

  .container-informations {
    display: grid;
    padding: 5% 10%;
    position: relative;

    .container-texte {
      order: 2;
    }
  }

  .bouton-lire-article {
    display: none;
  }

  .bouton-savoir-plus {
    position: relative;
    background-color: variables.$primary;
    color: variables.$light;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 15px;
    border-style: none;
    padding: 12px 20px;
    margin-top: 20px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    cursor: pointer;
    display: flex;

    &:hover {
      background: color.adjust(variables.$primary, $blackness: 10%);
    }
  }

  // TABLETTE ET DESKTOP

  @media only screen and (min-width: 365px) {
    &__texte {
      font-size: 20px;
    }

    &__titre {
      text-transform: uppercase;
      color: variables.$primary;
      font-size: 30px;
      display: flex;
      justify-content: start;
      margin-left: 5%;
      margin-bottom: 0%;
    }

    .hr-titre {
      width: 65%;
      padding: 0;
      display: block;
      text-align: left;
      margin-left: 5%;
      margin-bottom: 3%;
    }

    .bouton-savoir-plus {
      position: relative;
      background-color: variables.$primary;
      color: variables.$light;
      text-transform: uppercase;
      font-weight: 900;
      border-radius: 15px;
      border-style: none;
      padding: 12px 20px;
      margin-top: 20px;
      cursor: pointer;
      display: flex;

      &:hover {
        background: color.adjust(variables.$primary, $blackness: 10%);
      }
    }
  }

  // DESKTOP

  @media only screen and (min-width: 768px) {
    img {
      order: 2;
      display: flex;
      align-self: center;
      height: 100%;
      max-height: 300px;
    }

    .container-informations {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;

      .container-texte {
        margin-right: 5%;
      }
    }

    .bouton-savoir-plus {
      display: none;
    }

    .bouton-lire-article {
      position: relative;
      background-color: variables.$primary-light;
      color: variables.$dark;
      text-transform: uppercase;
      font-weight: 900;
      border-radius: 15px;
      border-style: none;
      padding: 12px 20px;
      margin-top: 20px;
      cursor: pointer;
      display: flex;
      justify-content: start;

      &:hover {
        background-color: variables.$primary;
      }
    }
  }
}

.news-hub__en-continu {
  width: 100%;
  height: 100%;
  position: relative;

  a {
    text-decoration: none;
  }

  .titre {
    text-transform: uppercase;
    color: variables.$primary;
    font-size: 30px;
    padding-left: 5%;
    padding-top: 0%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  /*.mySwiperHub {
    position: relative;
    .swiper-pagination-bullet {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 20px;
      font-size: 20px;
      color: variables.$light;
      opacity: 1;
      background-color: variables.$secondary;
    }

    .swiper-pagination-bullet-active {
      color: variables.$light;
      background-color: variables.$primary-light;
    }

    .swiper-pagination-horizontal {
      background-color: variables.$light;
      width: 100%;
      padding: 10px;
      position: absolute;
      bottom: 0%;
      text-align: center;
    }
  }*/

  /*.slide-2 {
    .swiper-pagination-horizontal {
      background-color: variables.$light;
      width: 100%;
      padding: 10px;
      position: absolute;
      bottom: -100px;
      text-align: center;
    }
  }*/

  .menu-pages {
    background-color: variables.$secondary;
    padding: 5%;

    &__cercles {
      background-color: variables.$light;
      padding: 2%;
      display: flex;
      justify-self: center;
      gap: 5%;
      position: relative;
      border-radius: 15px;
      width: 85px;
    }

    &__cercle {
      position: relative;
      background-color: variables.$secondary;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin: 0 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      p {
        margin: 0;
        text-align: center;
        color: variables.$light;
      }

      &:hover {
        background-color: variables.$primary-light;
      }
    }
  }

  .pagination-button.active {
    background-color: variables.$primary-light;
  }

  .cartes {
    display: grid;
    grid-template-columns: 1fr;
    background-color: variables.$secondary;
    padding: 5%;

    .carte {
      border-radius: 30px;
      padding: 5%;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &__textes {
        &__sous-titre {
          display: none;
        }
      }

      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 18px;
        order: 2;
        display: flex;
        align-self: center;
      }

      p {
        color: variables.$light;
        padding-right: 10%;
      }

      h3 {
        color: variables.$light;
        margin-bottom: 10px;
        padding-right: 10%;
      }

      .bouton-lire {
        display: block;
        background-color: variables.$primary-light;
        color: variables.$dark;
        font-weight: 900;
        border-radius: 30px;
        border-style: none;
        padding: 12px 20px;
        float: right;
        display: block;
        position: relative;
        right: 10px;
        top: -60px;
        cursor: pointer;

        &:hover {
          background-color: variables.$primary;
        }
      }

      .bouton-lire-article {
        display: none;
      }
    }

    hr {
      width: 80%;
      padding: 0;
    }

    .hr-cartes {
      display: block;
      color: variables.$light;
    }
  }

  .hr-titre {
    display: none;
    color: variables.$dark;
  }

  .bouton-voir-plus {
    display: block;
    background-color: variables.$primary;
    color: variables.$light;
    font-weight: 900;
    border-radius: 15px;
    border-style: none;
    position: relative;
    top: 30px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;

    &:hover {
      background: color.adjust(variables.$primary, $blackness: 10%);
    }
  }

  .cartes-swiper {
    display: none;
  }

  @media only screen and (min-width: 365px) {
    .menu-pages {
      background-color: transparent;
      padding: 0;
      display: flex;
      justify-content: center;

      &__cercles {
        background-color: transparent;
        max-width: 50%;
        width: 50%;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 5%;
        position: relative;
        border-radius: 15px;
      }

      &__cercle {
        position: relative;
        background-color: variables.$secondary;
        aspect-ratio: 1/1;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          text-align: center;
          color: variables.$light;
          font-size: 18px;
        }

        &:hover {
          background-color: variables.$primary-light;
        }
      }
    }

    .hr-titre {
      width: 65%;
      padding: 0;
      display: block;
      text-align: left;
      margin-left: 5%;
      margin-bottom: 3%;
    }

    .titre {
      display: flex;
      justify-content: start;
      margin-left: 5%;
      margin-bottom: 0%;
      padding: 0;
    }

    .cartes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      background-color: transparent;
      padding: 5%;

      .hr-cartes {
        display: none;
        color: variables.$light;
      }

      .carte {
        border-radius: 30px;
        padding: 5%;
        position: relative;
        display: block;
        background-color: variables.$secondary;

        &__textes {
          &__date {
            display: none;
          }

          &__sous-titre {
            display: block;
          }
        }

        img {
          aspect-ratio: 4/3;
          order: 1;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .cartes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .carte {
        position: relative;

        &__textes {

          &__sous-titre {
            display: block;
            margin-bottom: 80px;
          }
        }

        .bouton-lire-article {
          position: absolute;
          bottom: 15px;

          background-color: variables.$primary-light;
          color: variables.$dark;
          text-transform: uppercase;
          font-weight: 900;
          border-radius: 15px;
          border-style: none;
          padding: 12px 20px;
          margin-top: 20px;
          cursor: pointer;
          display: block;

          &:hover {
            background-color: variables.$primary;
          }
        }
      }
    }

    .menu-pages {
      display: flex;
      justify-content: end;
      margin-right: 5%;

      &__cercles {
        background-color: transparent;
        max-width: 350px;
        width: 50%;
        margin-top: 0;
      }
    }
  }
}