@use "variables";
@use "sass:color";

.news-hub_une {
  height: 100%;
  position: relative;

  &__titre {
    text-transform: uppercase;
    color: variables.$primary;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  &__texte {
    text-align: start;
  }

  .hr-titre {
    display: none;
    color: variables.$dark;
  }

  img {
    justify-content: center;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 30px;
    order: 1;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.14);
  }

  .container-informations {
    display: grid;
    padding: 5% 10%;
    position: relative;

    .container-texte {
      order: 2;
    }
  }

  .bouton-lire-article {
    display: none;
  }

  .bouton-savoir-plus {
    position: relative;
    background-color: variables.$primary;
    color: variables.$light;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 15px;
    border-style: none;
    padding: 12px 20px;
    margin-top: 20px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    cursor: pointer;
    display: flex;

    &:hover {
      background: color.adjust(variables.$primary, $blackness: 10%);
    }
  }

  // TABLETTE ET DESKTOP

  @media only screen and (min-width: 365px) {
    &__texte {
      font-size: 20px;
    }

    &__titre {
      text-transform: uppercase;
      color: variables.$primary;
      font-size: 30px;
      display: flex;
      justify-content: start;
      margin-left: 5%;
      margin-bottom: 0%;
    }

    .hr-titre {
      width: 65%;
      padding: 0;
      display: block;
      text-align: left;
      margin-left: 5%;
      margin-bottom: 3%;
    }

    .bouton-savoir-plus {
      position: relative;
      background-color: variables.$primary;
      color: variables.$light;
      text-transform: uppercase;
      font-weight: 900;
      border-radius: 15px;
      border-style: none;
      padding: 12px 20px;
      margin-top: 20px;
      cursor: pointer;
      display: flex;
  
      &:hover {
        background: color.adjust(variables.$primary, $blackness: 10%);
      }
    }
  }

  // DESKTOP

  @media only screen and (min-width: 768px) {
    img {
      order: 2;
      display: flex;
      align-self: center;
      height: 100%;
      max-height: 300px;
    }

    .container-informations {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;

      .container-texte {
        margin-right: 5%;
      }
    }

    .bouton-savoir-plus {
      display: none;
    }

    .bouton-lire-article {
      position: relative;
      background-color: variables.$primary-light;
      color: variables.$dark;
      text-transform: uppercase;
      font-weight: 900;
      border-radius: 15px;
      border-style: none;
      padding: 12px 20px;
      margin-top: 20px;
      cursor: pointer;
      display: flex;
      justify-content: start;

      &:hover {
        background-color: variables.$primary;
      }
    }
  }
}

// DESKTOP SEULEMENT

@media only screen and (min-width: 768px) {
  .accueil_services {
    &__texte {
      text-align: left;
      margin-left: 10%;
    }

    .hr-titre {
      width: 45%;
    }

    .savoir-plus {
      display: flex;
      justify-content: flex-start;
      margin-left: 5%;
      text-decoration: underline;
    }

    .bouton-voir-plus {
      display: none;
    }

    .container-informations {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    img {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0%);
      order: 2;
      max-width: 400px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

// DESKTOP EXTRA LARGE SEULEMENT

@media only screen and (min-width: 1200px) {
  .accueil_services {
    &__texte {
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
    }

    .container-informations {
      display: grid;
      grid-template-columns: 1fr 35%;
    }

    img {
      max-width: 300px;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
