@use 'variables';
@use "sass:color";

.accueil__actualites {
    width: 100%;
    height: 100%;
    position: relative;

    .titre {
        text-transform: uppercase;
        color: variables.$primary;
        font-size: 30px;
        padding-left: 5%;
        padding-top: 5%;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }

    .plus-actualites {
        display: none;
    }

    .cartes {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        background-color: variables.$secondary;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;

        .carte {
            border-radius: 30px;
            padding: 5%;

            img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 30px;
            }

            p {
                display: none;
            }

            h3 {
                color: variables.$light;
                margin-bottom: 30px;
            }

            .bouton-lire {
                display: block;
                background-color: variables.$primary-light;
                color: variables.$dark;
                font-weight: 900;
                border-radius: 30px;
                border-style: none;
                padding: 12px 20px;
                float: right;
                display: block;
                position: relative;
                right: 10px;
                top: -60px;

                &:hover {
                    background-color: variables.$primary;
                }
            }

            .bouton-lire-article {
                display: none;
            }
        }

        hr {
            width: 80%;
            padding: 0;
        }

        .hr-cartes {
            display: block;
            color: variables.$light;
        }
    }

    .hr-titre {
        display: none;
        color: variables.$dark;
    }

    .bouton-voir-plus {
        display: block;
        background-color: variables.$primary;
        color: variables.$light;
        font-weight: 900;
        border-radius: 15px;
        border-style: none;
        position: relative;
        top: 30px;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;

        &:hover {
            background-color: variables.$primary-light;
        }
    }
}

@media only screen and (min-width: 375px) {
    .accueil__actualites {
        width: 100%;
        height: 100%;
        position: relative;

        .titre {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 0;
        }

        .hr-titre {
            width: 45%;
            padding: 0;
            display: block;
            text-align: left;
            margin-left: 5%;
            margin-bottom: 3%;
        }

        .plus-actualites {
            display: flex;
            justify-content: flex-end;
            margin-right: 5%;
            text-decoration: underline;
        }

        .bouton-voir-plus {
            display: none;
        }


        .cartes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: transparent;

            .hr-cartes {
                display: none;
            }

            .carte {
                background-color: variables.$secondary;
                border-radius: 30px;
                padding: 5%;

                img {
                    aspect-ratio: 16/9;
                }

                p {
                    color: variables.$light;
                    font-weight: 100;
                    margin-bottom: 30px;
                    display: block;
                }

                .bouton-lire {
                    display: none;
                }

                .bouton-lire-article {
                    background-color: variables.$primary-light;
                    color: variables.$dark;
                    font-weight: 900;
                    border-radius: 15px;
                    border-style: none;
                    padding: 12px 20px;
                    float: right;
                    display: block;


                    &:hover {
                        background-color: variables.$primary;
                    }
                }

            }
        }
    }
}