@use 'variables';
@use "sass:color";


.accueil__nous-soutenir{ 
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color:variables.$info;
    position: relative;
    border-radius: 35px;
    width: 375px;
    height: 800px ;
    margin: auto;
    margin-top: 60px;

    margin-bottom: 60px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);

    @media screen and (min-width: 700px) {
      width: 680px;
      
    }

    @media screen and (min-width: 1000px) {
      height: 500px;
      width: 1000px;

      .bouton-dollar .cinquente{
        color: aqua;
         left: 50px;
         display: flex;
         

      }
      .bouton-dollar{
        float: left;
        transform: translate( 260px, -50px);


      }

      .bouton-faire-don{
        transform: translate( -176px, 50px);
       }
      
      .bouton-voir-plus{
        display: none;
      }

      .en-savoir-plus{
        display: flex;
        transform: translate( 730px, 30px);
        cursor: pointer;
        text-decoration: underline;
        
      }

      .text-mots-encouragement{
        transform: translate( 0%, -40px);
     }
    }

    
 }

.en-savoir-plus{
  display: none;
 }

.text-nous-soutenir{
    display: flex;
    flex-direction: column;
    transform: translate( 0, -10%);
    color: variables.$primary;
    font-size: 30px;
    font-weight: bolder;
    

 }

 .text-mots-encouragement{
    font-size: 15px;
    color: variables.$dark;
    transform: translate( 0, -50%);

 }

 .text-mots-merci{
    color: variables.$secondary;
    font-size: 30px;
    font-weight: bolder;
    transform: translate( 0, -90%);
 }


 .bouton-dollar{
    transform: translate( 0, -90%);
    margin: 10px;
    color: variables.$dark;
    background-color: variables.$light;
    height: 70px;
    width: 95px;
    font-size: 35px;
    font-weight: bolder;
    border-radius: 15px;
    border-color: none;
    border: #00000000;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
    cursor: pointer;

    &:hover{
      background: color.adjust(variables.$light, $blackness: 10%);
  
    }
 }


 .bouton-faire-don{
    transform: translate( 0, -70%);
    margin: 10px;
    color: variables.$light;
    background-color: variables.$primary;
    height: 70px;
    width: auto;
    font-size: 35px;
    font-weight: bolder;
    border-radius: 15px;
    border-color: none;
    border: #00000000;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
    cursor: pointer;

    &:hover{
      background: color.adjust(variables.$primary, $blackness: 10%);
  
    }

  }

.bouton-voir-plus{
    transform: translate( 0, -80%);
    margin: 10px;
    color: variables.$light;
    background-color: variables.$secondary;
    height: 40px;
    width: auto;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    border-color: none;
    border: #00000000;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
    cursor: pointer;
    &:hover{
      background: color.adjust(variables.$secondary, $blackness: 10%);
  
    }

  }
