@use 'variables';
@use "sass:color";

//----------------------- STYLES GÉNÉRAUX -----------------------//

.foot {
    background-color: variables.$secondary;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }

    &__block {
        display: block;
        color: variables.$light;
        font-size: 18px;
        width: 300px;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 10px;
    }

    &__link {
        color: variables.$light;
        text-decoration: none;
        font-size: 20px;
    }

    &__social {
        text-align: center;
        margin-top: 18px;
    }

    &__icon {
        width: 80px;
        margin: 10px;
    }

    &__contact {
        color: variables.$light;
        display: block;
        text-align: center;
        font-size: 20px;
    }

    &__banner {
        background-color: variables.$light;
        padding: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }

    &__logo {
        width: 180px;
    }

    &__button {
        background-color: variables.$primary;
        border: none;
        width: 80px;
        height: 40px;
        border-radius: 20px;
        color: variables.$light;
        font-size: 18px;
        align-self: center;
    }
}

    //----------------------- MEDIA QUERY -----------------------//
    //ENCORE EN COURS D'AJUSTEMENTS

    @media all and (min-width: 200px) {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
        &__block {
            //Bannière
            &:last-child {
                grid-row: 5;
                grid-column: span 2;
                width: 100%;
            }
        }
        &__banner {
            border-radius: 0;
        }
    }

    /*@media all and (min-width: 920px) {
        &__grid {
            grid-template-columns: repeat(3, 1fr);
        }/*
        &__block {
            //Bannière
            &:last-child {
                grid-row: 4;
                grid-column: span 4;
                width: 100%;
            }
            //Réseaux sociaux
            &:nth-child(7) {
                grid-row: 2;
                grid-column: 4;
                margin-right: 100px;
            }
            //Adresse
            &:nth-child(8) {
                grid-row: 2;
                grid-column: 3;
            }
        }
        &__banner {
            border-radius: 0;
        }*/
    

    @media all and (min-width: 1360px) {
        &__grid {
            grid-template-columns: repeat(4, 1fr);
        }
        &__block { 
            //Bannière
            &:last-child {
                grid-row: 1;
                grid-column: 4;
                margin-right: 100px;
                margin-top: 40px;
            }
            //Réseaux sociaux
            &:nth-child(7) {
                grid-row: 2;
                grid-column: 4;
                margin-right: 100px;
            }
            //Adresse
            &:nth-child(8) {
                grid-row: 2;
                grid-column: 3;
            }
        }
        &__banner {
            border-radius: 20px;
            width: 75%;
        }
    }  


