@use 'variables';

@use "sass:color";

.nav {
    background-color: variables.$primary;
    padding: 15px;
    

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    justify-content: center;
    align-items: center;
      }

    &__item {
        display: inline; 

        .icone-facebook {
            position: relative;
            width: 20px;
            height: 20px;
            background-color: variables.$light;
            border-radius: 50%;
            margin: 0px 15px;

            &:hover {
                background: color.adjust(variables.$primary, $lightness: 20%);
            }
        }

        .icone-youtube {
            position: relative;
            width: 20px;
            height: 20px;
            margin: 0px 15px;

            &:hover {
                filter:invert(20);

            }
        }
    }
}
a {
    color: variables.$light;
    text-decoration: none;
    padding: 15px;

    &:hover {
        background: color.adjust(variables.$primary, $blackness: 10%); 
        border-radius: 10px;
    }
}

