@use 'variables';

@use "sass:color";

.nav {
    background-color: variables.$primary;
    padding: 15px;


    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        display: inline;

        .icone-facebook {
            position: relative;
            width: 20px;
            height: 20px;
            background-color: variables.$light;
            border-radius: 50%;
            margin: 0px 15px;

            &:hover {
                background: color.adjust(variables.$primary, $lightness: 20%);
            }
        }

        .icone-youtube {
            position: relative;
            width: 20px;
            height: 20px;
            margin: 0px 15px;

            &:hover {
                filter: invert(20);

            }
        }

        input {
            border-style: none;
            border-radius: 10px;
            height: 25px;
            background-color: variables.$light;
            padding-left: 10px;
            margin: 0px 15px;
            color: variables.$primary;

            &:focus::placeholder {
                padding-left: 0px;
            }

            &::placeholder {
                color: variables.$primary;
                padding-left: 12%;
            }

            &#search {
                background-image: url(../sources/symbole-de-linterface-de-recherche.png);
                background-repeat: no-repeat;
                background-position: 5% 5px;
                background-size: 15px 15px;
            }

            &#search:focus {
                background-image: none;
            }

        }
    }
}

a {
    color: variables.$light;
    text-decoration: none;
    padding: 15px;

    &:hover {
        background: color.adjust(variables.$primary, $blackness: 10%);
        border-radius: 10px;
    }
}