/*<!----------------------- HEADER ------------------------->*/

header{
  background-color: #FFFBE2;

}

.head__etudiant{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #262127;
  color: #FFFBE2;
  font-size: 8px;
  height: 70px;
}

.projet-etudiant{
  display: flex;
  margin-left: 5% ;
}

.voir-site-origine{
  display: flex;
  margin-left: 5% ;
  
}

.bouton-x-header-wrap {
  display: flex;
  width: 100%; 
}

.bouton-x-header {
  height: auto;
  width: auto;
  background-color: #262127;
  border-color: none;
  border: #00000000;
  margin-left: auto; 
  margin-right: 15%;
}



.header__don{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.logo-federation-wrap{
  flex:1;
  margin: auto;
  width: auto;
  flex-direction: column;
  align-items: flex-start;

}

.logo-federation{
  width: auto;
  height:60px;
  margin-left: 10%;
}

.bouton-don-wrap{
  display: flex;
  margin: auto;
  margin-right: 10%;
}

.bouton-don {
  color: #FFFBE2;
  background-color: #C15A2E;
  height: 50px;
  width: 100px;
  font-size: 30px;
  border-radius: 40px;
  border-color: none;
  border: #00000000;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
}

@media screen and (min-width: 1400px) {
  header{
    background-color: #FFFBE2;
  
  }
  
  .head__etudiant{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #262127;
    color: #FFFBE2;
    font-size: 10px;
    height: 70px;
  }
  
  .projet-etudiant{
    display: flex;
    margin-left: 5% ;
  }
  
  .voir-site-origine{
    display: flex;
    margin-left: 5% ;
    
  }
  
  .bouton-x-header-wrap {
    display: flex;
    width: 100%; 
  }
  
  .bouton-x-header {
    height: auto;
    width: auto;
    background-color: #262127;
    border-color: none;
    border: #00000000;
    margin-left: auto; 
    margin-right: 15%;
  }
  
  
  
  .header__don{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
  
  .logo-federation-wrap{
    flex:1;
    margin: auto;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  
  }
  
  .logo-federation{
    width: auto;
    height:70px;
    margin-left: 10%;
  }
  
  .bouton-don-wrap{
    display: flex;
    margin: auto;
    margin-right: 10%;
  }
  
  .bouton-don {
    color: #FFFBE2;
    background-color: #C15A2E;
    height: 50px;
    width: 100px;
    font-size: 30px;
    border-radius: 40px;
    border-color: none;
    border: #00000000;
  }

}


/*<!----------------------------------------------->*/
.nav {
  background-color: #C15A2E;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #c15a2e;
  border-radius: 0 0 15px 15px;
}
.nav__list.list-active {
  display: flex;
  flex-direction: column;
}
.nav__list a {
  color: #FFFBE2;
  text-decoration: none;
  padding: 15px;
}
.nav__list a:hover {
  background: #a8522e;
  border-radius: 15px;
  width: 100%;
}
.nav a {
  display: block;
}
.nav__item {
  display: flex;
}
.nav__item .icone-facebook {
  display: none;
}
.nav__item .icone-youtube {
  display: none;
}
.nav__item input {
  display: none;
}

.logo-search {
  width: 30px;
  height: 30px;
}

.logo-langue {
  width: 30px;
  height: 30px;
}

.menu-hamburger {
  font-size: 35px;
  color: #FFFBE2;
  font-weight: bold;
  display: block;
}
.menu-hamburger:hover {
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  .nav {
    overflow: hidden;
    justify-content: center;
  }
  .nav__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 0%;
    left: 0%;
    background-color: #C15A2E;
  }
  .nav__list a:hover {
    width: 68%;
  }
  .nav__item {
    display: inline;
  }
  .nav__item .icone-facebook {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #FFFBE2;
    border-radius: 50%;
    margin: 0px 15px;
    display: block;
  }
  .nav__item .icone-facebook:hover {
    opacity: 50%;
  }
  .nav__item .icone-youtube {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0px 15px;
    display: block;
  }
  .nav__item .icone-youtube:hover {
    opacity: 50%;
  }
  .nav__item input {
    border-style: none;
    border-radius: 10px;
    height: 25px;
    background-color: #FFFBE2;
    padding-left: 10px;
    margin: 0px 15px;
    color: #C15A2E;
    display: block;
  }
  .nav__item input:focus::-moz-placeholder {
    padding-left: 0px;
  }
  .nav__item input:focus::placeholder {
    padding-left: 0px;
  }
  .nav__item input::-moz-placeholder {
    color: #C15A2E;
    padding-left: 12%;
  }
  .nav__item input::placeholder {
    color: #C15A2E;
    padding-left: 12%;
  }
  .nav__item input#search {
    background-image: url(../sources/symbole-de-linterface-de-recherche.png);
    background-repeat: no-repeat;
    background-position: 5% 5px;
    background-size: 15px 15px;
  }
  .nav__item input#search:focus {
    background-image: none;
  }
  .nav .menu-hamburger {
    display: none;
  }
  .nav .logo-search {
    display: none;
  }
  .nav .logo-langue {
    display: none;
  }
}
.foot {
  background-color: #2C856D;
  /*
  @media all and (min-width: 400px) {
      &__grid {
          grid-template-columns: repeat(1, 1fr);
      }
  }

  @media all and (min-width: 600px) {
      &__grid {
          grid-template-columns: repeat(3, 1fr);
      }
  }

  @media all and (min-width: 1200px) {
      &__grid {
          grid-template-columns: repeat(4, 1fr);
      }
  }
  */
}
.foot__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.foot__block {
  border: solid 1px red;
  display: block;
  text-align: center;
  color: #FFFBE2;
  width: 300px;
  margin: auto;
}
.foot__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.foot__link {
  color: #FFFBE2;
  text-decoration: none;
  font-size: 16px;
}
.foot__social {
  display: block;
  text-align: center;
}
.foot__icon {
  width: 50px;
  margin: 10px;
}
.foot__contact {
  color: #FFFBE2;
  display: block;
  text-align: center;
}

html {
  background-color: #FFFBE2;
}/*# sourceMappingURL=style.css.map */