.nav {
  background-color: #C15A2E;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #c15a2e;
  border-radius: 0 0 15px 15px;
}
.nav__list.list-active {
  display: flex;
  flex-direction: column;
}
.nav__list a {
  color: #FFFBE2;
  text-decoration: none;
  padding: 15px;
}
.nav__list a:hover {
  background: #a8522e;
  border-radius: 15px;
  width: 100%;
}
.nav a {
  display: block;
}
.nav__item {
  display: flex;
}
.nav__item .icone-facebook {
  display: none;
}
.nav__item .icone-youtube {
  display: none;
}
.nav__item input {
  display: none;
}

.logo-search {
  width: 30px;
  height: 30px;
}

.logo-langue {
  width: 30px;
  height: 30px;
}

.menu-hamburger {
  font-size: 35px;
  color: #FFFBE2;
  font-weight: bold;
  display: block;
}
.menu-hamburger:hover {
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  .nav {
    overflow: hidden;
    justify-content: center;
  }
  .nav__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 0%;
    left: 0%;
    background-color: #C15A2E;
  }
  .nav__list a:hover {
    width: 68%;
  }
  .nav__item {
    display: inline;
  }
  .nav__item .icone-facebook {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #FFFBE2;
    border-radius: 50%;
    margin: 0px 15px;
    display: block;
  }
  .nav__item .icone-facebook:hover {
    opacity: 50%;
  }
  .nav__item .icone-youtube {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0px 15px;
    display: block;
  }
  .nav__item .icone-youtube:hover {
    opacity: 50%;
  }
  .nav__item input {
    border-style: none;
    border-radius: 10px;
    height: 25px;
    background-color: #FFFBE2;
    padding-left: 10px;
    margin: 0px 15px;
    color: #C15A2E;
    display: block;
  }
  .nav__item input:focus::-moz-placeholder {
    padding-left: 0px;
  }
  .nav__item input:focus::placeholder {
    padding-left: 0px;
  }
  .nav__item input::-moz-placeholder {
    color: #C15A2E;
    padding-left: 12%;
  }
  .nav__item input::placeholder {
    color: #C15A2E;
    padding-left: 12%;
  }
  .nav__item input#search {
    background-image: url(../sources/symbole-de-linterface-de-recherche.png);
    background-repeat: no-repeat;
    background-position: 5% 5px;
    background-size: 15px 15px;
  }
  .nav__item input#search:focus {
    background-image: none;
  }
  .nav .menu-hamburger {
    display: none;
  }
  .nav .logo-search {
    display: none;
  }
  .nav .logo-langue {
    display: none;
  }
}
.foot {
  background-color: #2C856D;
}
.foot__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}
.foot__block {
  display: block;
  color: #FFFBE2;
  font-size: 18px;
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}
.foot__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.foot__link {
  color: #FFFBE2;
  text-decoration: none;
  font-size: 20px;
}
.foot__social {
  text-align: center;
  margin-top: 18px;
}
.foot__icon {
  width: 80px;
  margin: 10px;
}
.foot__contact {
  color: #FFFBE2;
  display: block;
  text-align: center;
  font-size: 20px;
}
.foot__banner {
  background-color: #FFFBE2;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}
.foot__logo {
  width: 180px;
}
.foot__button {
  background-color: #C15A2E;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  color: #FFFBE2;
  font-size: 18px;
  align-self: center;
}
@media all and (min-width: 200px) {
  .foot__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .foot__block:last-child {
    grid-row: 5;
    grid-column: span 2;
    width: 100%;
  }
  .foot__banner {
    border-radius: 0;
  }
}
@media all and (min-width: 1000px) {
  .foot__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .foot__block:last-child {
    grid-row: 4;
    grid-column: span 4;
    width: 100%;
  }
  .foot__block:nth-child(7) {
    grid-row: 2;
    grid-column: 4;
    margin-right: 100px;
  }
  .foot__block:nth-child(8) {
    grid-row: 2;
    grid-column: 3;
  }
  .foot__banner {
    border-radius: 0;
  }
}
@media all and (min-width: 1300px) {
  .foot__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .foot__block:last-child {
    grid-row: 1;
    grid-column: 4;
    margin-right: 100px;
    margin-top: 40px;
  }
  .foot__block:nth-child(7) {
    grid-row: 2;
    grid-column: 4;
    margin-right: 100px;
  }
  .foot__block:nth-child(8) {
    grid-row: 2;
    grid-column: 3;
  }
  .foot__banner {
    border-radius: 20px;
    width: 75%;
  }
}

header {
  background-color: #FFFBE2;
}

.head__etudiant {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #262127;
  color: #FFFBE2;
  font-size: 7px;
  height: 70px;
}

.projet-etudiant {
  display: flex;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.voir-site-origine {
  display: flex;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.bouton-x-header-wrap {
  display: flex;
  width: 100%;
}

.bouton-x-header {
  height: auto;
  width: auto;
  background-color: #262127;
  border-color: none;
  border: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: 15%;
}

.header__don {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.logo-federation-wrap {
  flex: 1;
  margin: auto;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
}

.logo-federation {
  width: auto;
  height: 45px;
  margin-left: 10%;
  margin-right: 10%;
}

.bouton-don-wrap {
  display: flex;
  margin: auto;
  margin-right: 10%;
}

.bouton-don {
  color: #FFFBE2;
  background-color: #C15A2E;
  height: 45px;
  width: 95px;
  font-size: 25px;
  border-radius: 40px;
  border-color: none;
  border: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
}

@media screen and (min-width: 900px) {
  header {
    background-color: #FFFBE2;
  }
  .head__etudiant {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #262127;
    color: #FFFBE2;
    font-size: 9px;
    height: 70px;
  }
  .projet-etudiant {
    display: flex;
    margin-left: 3%;
    width: 100%;
  }
  .voir-site-origine {
    display: flex;
    width: 100%;
  }
  .bouton-x-header-wrap {
    display: flex;
    width: 100%;
  }
  .bouton-x-header {
    height: auto;
    width: auto;
    background-color: #262127;
    border-color: none;
    border: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: 15%;
  }
  .header__don {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
  .logo-federation-wrap {
    flex: 1;
    margin: auto;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .logo-federation {
    width: auto;
    height: 60px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .bouton-don-wrap {
    display: flex;
    margin: auto;
    margin-right: 10%;
  }
  .bouton-don {
    color: #FFFBE2;
    background-color: #C15A2E;
    height: 50px;
    width: 100px;
    font-size: 30px;
    border-radius: 40px;
    border-color: none;
    border: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
  }
}
.accueil__hero {
  background-image: url(../sources/medias/photo_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.accueil__nous-soutenir {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FFB8A4;
  border-radius: 35px;
  width: 450px;
  height: 800px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
}

html {
  background-color: #FFFBE2;
}/*# sourceMappingURL=style.css.map */