.nav {
  background-color: #C15A2E;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #c15a2e;
  border-radius: 0 0 15px 15px;
  z-index: 1000;
}
.nav__list.list-active {
  display: flex;
  flex-direction: column;
}
.nav__list a {
  color: #FFFBE2;
  text-decoration: none;
  padding: 15px;
}
.nav__list a:hover {
  background: #a8522e;
  border-radius: 15px;
  width: 100%;
}
.nav a {
  display: block;
}
.nav__item {
  display: flex;
}
.nav__item .icone-facebook {
  display: none;
}
.nav__item .icone-youtube {
  display: none;
}
.nav__item input {
  display: none;
}

.logo-search {
  width: 30px;
  height: 30px;
}

.logo-langue {
  width: 30px;
  height: 30px;
}

.menu-hamburger {
  font-size: 35px;
  color: #FFFBE2;
  font-weight: bold;
  display: block;
}
.menu-hamburger:hover {
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  .nav {
    overflow: hidden;
    justify-content: center;
  }
  .nav__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 0%;
    left: 0%;
    background-color: #C15A2E;
  }
  .nav__list a:hover {
    width: 68%;
  }
  .nav__item {
    display: inline;
  }
  .nav__item .icone-facebook {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #FFFBE2;
    border-radius: 50%;
    margin: 0px 15px;
    display: block;
  }
  .nav__item .icone-facebook:hover {
    opacity: 50%;
  }
  .nav__item .icone-youtube {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0px 15px;
    display: block;
  }
  .nav__item .icone-youtube:hover {
    opacity: 50%;
  }
  .nav__item input {
    border-style: none;
    border-radius: 10px;
    height: 25px;
    background-color: #FFFBE2;
    padding-left: 10px;
    margin: 0px 15px;
    color: #C15A2E;
    display: block;
  }
  .nav__item input:focus::-moz-placeholder {
    padding-left: 0px;
  }
  .nav__item input:focus::placeholder {
    padding-left: 0px;
  }
  .nav__item input::-moz-placeholder {
    color: #C15A2E;
    padding-left: 12%;
  }
  .nav__item input::placeholder {
    color: #C15A2E;
    padding-left: 12%;
  }
  .nav__item input#search {
    background-image: url(../sources/symbole-de-linterface-de-recherche.png);
    background-repeat: no-repeat;
    background-position: 5% 5px;
    background-size: 15px 15px;
  }
  .nav__item input#search:focus {
    background-image: none;
  }
  .nav .menu-hamburger {
    display: none;
  }
  .nav .logo-search {
    display: none;
  }
  .nav .logo-langue {
    display: none;
  }
}
.foot {
  background-color: #2C856D;
}
.foot__grid {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.foot__block {
  display: block;
  color: #FFFBE2;
  font-size: 18px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.foot__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.foot__link {
  color: #FFFBE2;
  text-decoration: none;
  font-size: 20px;
}
.foot__social {
  text-align: center;
  margin-top: 18px;
}
.foot__icon {
  width: 80px;
  margin: 10px;
}
.foot__contact {
  color: #FFFBE2;
  display: block;
  text-align: center;
  font-size: 20px;
}
.foot__banner {
  background-color: #FFFBE2;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  /*
  //justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 15px;
  */
  overflow: hidden;
}
.foot__logo {
  width: 180px;
}
.foot__button {
  background-color: #C15A2E;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  color: #FFFBE2;
  font-size: 18px;
  align-self: center;
  display: none;
}
@media screen and (min-width: 100px) {
  .foot__banner {
    border-radius: 0;
    width: 100%;
  }
  .foot__block:nth-child(7) {
    display: flex;
    justify-content: center;
  }
  .foot__block:nth-child(8) {
    display: flex;
    justify-content: center;
  }
  .foot__banner {
    width: 100%;
    height: 100px;
    background-image: url("sources/logo/logo-federation-mobile.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 50px solid #FFFBE2;
  }
}
@media screen and (min-width: 626px) {
  .foot__block:last-child {
    grid-row: 5;
    grid-column: span 2;
    width: 100%;
  }
  .foot__banner {
    width: 100%;
    height: 100px;
    background-image: url("sources/logo/logo-federation.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 50px solid #FFFBE2;
  }
}
@media screen and (min-width: 936px) {
  .foot__block:last-child {
    grid-column: span 3;
  }
}
@media screen and (min-width: 1246px) {
  .foot__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .foot__grid__block:last-child {
    grid-column: span 4;
  }
}
@media screen and (min-width: 1360px) {
  .foot__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .foot__block:last-child {
    grid-row: 1;
    grid-column: 4;
    margin-right: 100px;
    margin-top: 40px;
  }
  .foot__block:nth-child(7) {
    grid-row: 2;
    grid-column: 4;
    margin-right: 100px;
  }
  .foot__block:nth-child(8) {
    grid-row: 2;
    grid-column: 3;
  }
  .foot__banner {
    border-radius: 20px;
    width: 275px;
    height: 150px;
    background-image: url("sources/logo/logo-federation-mobile.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }
}

header {
  background-color: #FFFBE2;
}

.head__etudiant {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #262127;
  color: #FFFBE2;
  font-size: 6px;
  height: 70px;
}

.projet-etudiant {
  display: flex;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}

.voir-site-origine {
  display: flex;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  cursor: pointer;
}
.voir-site-origine a {
  color: #FFFBE2;
  text-decoration: none;
  margin-left: 10px;
}

.bouton-x-header-wrap {
  display: flex;
  width: 100%;
}

.bouton-x-header {
  height: auto;
  width: auto;
  background-color: #262127;
  border-color: none;
  border: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: 15%;
  cursor: pointer;
}

.header__don {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.logo-federation-wrap {
  flex: 1;
  margin: auto;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
}

.logo-federation {
  width: auto;
  height: 45px;
  margin-left: 10%;
  margin-right: 10%;
}

.bouton-don-wrap {
  display: flex;
  margin: auto;
  margin-right: 10%;
}

.bouton-don {
  cursor: pointer;
  color: #FFFBE2;
  background-color: #C15A2E;
  height: 45px;
  width: 95px;
  font-size: 25px;
  border-radius: 40px;
  border-color: none;
  border: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
}
.bouton-don:hover {
  background: #a8522e;
}

@media screen and (min-width: 900px) {
  header {
    background-color: #FFFBE2;
  }
  .head__etudiant {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #262127;
    color: #FFFBE2;
    font-size: 9px;
    height: 70px;
  }
  .projet-etudiant {
    display: flex;
    margin-left: 3%;
    width: 100%;
  }
  .voir-site-origine {
    display: flex;
    width: 100%;
  }
  .bouton-x-header-wrap {
    display: flex;
    width: 100%;
  }
  .bouton-x-header {
    height: auto;
    width: auto;
    background-color: #262127;
    border-color: none;
    border: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: 15%;
  }
  .header__don {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
  .logo-federation-wrap {
    flex: 1;
    margin: auto;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .logo-federation {
    width: auto;
    height: 60px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .bouton-don-wrap {
    display: flex;
    margin: auto;
    margin-right: 10%;
  }
  .bouton-don {
    color: #FFFBE2;
    background-color: #C15A2E;
    height: 50px;
    width: 100px;
    font-size: 30px;
    border-radius: 40px;
    border-color: none;
    border: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
  }
}
.accueil__actualites {
  width: 100%;
  height: 100%;
  position: relative;
}
.accueil__actualites a {
  text-decoration: none;
}
.accueil__actualites .titre {
  text-transform: uppercase;
  color: #C15A2E;
  font-size: 30px;
  padding-left: 5%;
  padding-top: 0%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.accueil__actualites .plus-actualites {
  display: none;
}
.accueil__actualites .cartes {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  background-color: #2C856D;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.accueil__actualites .cartes .carte {
  border-radius: 30px;
  padding: 5%;
  position: relative;
}
.accueil__actualites .cartes .carte img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
}
.accueil__actualites .cartes .carte p {
  display: none;
}
.accueil__actualites .cartes .carte h3 {
  color: #FFFBE2;
  margin-bottom: 30px;
}
.accueil__actualites .cartes .carte .bouton-lire {
  display: block;
  background-color: #F1BA85;
  color: #262127;
  font-weight: 900;
  border-radius: 30px;
  border-style: none;
  padding: 12px 20px;
  float: right;
  display: block;
  position: relative;
  right: 10px;
  top: -60px;
  cursor: pointer;
}
.accueil__actualites .cartes .carte .bouton-lire:hover {
  background-color: #C15A2E;
}
.accueil__actualites .cartes .carte .bouton-lire-article {
  display: none;
}
.accueil__actualites .cartes hr {
  width: 80%;
  padding: 0;
}
.accueil__actualites .cartes .hr-cartes {
  display: block;
  color: #FFFBE2;
}
.accueil__actualites .hr-titre {
  display: none;
  color: #262127;
}
.accueil__actualites .bouton-voir-plus {
  display: block;
  background-color: #C15A2E;
  color: #FFFBE2;
  font-weight: 900;
  border-radius: 15px;
  border-style: none;
  position: relative;
  top: 30px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}
.accueil__actualites .bouton-voir-plus:hover {
  background: #a8522e;
}
.accueil__actualites .cartes-swiper {
  display: none;
}

@media only screen and (min-width: 365px) {
  .accueil__actualites {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .accueil__actualites .titre {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-top: 5%;
  }
  .accueil__actualites .hr-titre {
    width: 65%;
    padding: 0;
    display: block;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .accueil__actualites .plus-actualites {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    text-decoration: underline;
    color: #262127;
  }
  .accueil__actualites .bouton-voir-plus {
    display: none;
  }
  .accueil__actualites .cartes {
    display: none;
  }
  .accueil__actualites .cartes-swiper {
    display: block;
  }
  .accueil__actualites .cartes-swiper .swiper-container2 {
    width: 100%;
    height: 100%;
  }
  .accueil__actualites .cartes-swiper .carte {
    background-color: #2C856D;
    border-radius: 30px;
    padding: 5%;
    margin: 5%;
    height: 50vh;
    position: relative;
  }
  .accueil__actualites .cartes-swiper .carte img {
    width: 100%;
    aspect-ratio: 16/9;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
  }
  .accueil__actualites .cartes-swiper .carte h3 {
    color: #FFFBE2;
    margin-bottom: 30px;
  }
  .accueil__actualites .cartes-swiper .carte p {
    color: #FFFBE2;
    font-weight: 100;
    margin-bottom: 80px;
    display: block;
  }
  .accueil__actualites .cartes-swiper .carte .bouton-lire {
    display: none;
  }
  .accueil__actualites .cartes-swiper .carte .bouton-lire-article {
    background-color: #F1BA85;
    color: #262127;
    font-weight: 900;
    border-radius: 18px;
    border-style: none;
    padding: 12px 20px;
    position: absolute;
    bottom: 4%;
    display: block;
    cursor: pointer;
  }
  .accueil__actualites .cartes-swiper .carte .bouton-lire-article:hover {
    background-color: #C15A2E;
  }
}
@media only screen and (min-width: 768px) {
  .accueil__actualites .hr-titre {
    width: 45%;
  }
  .accueil__actualites .cartes-swiper {
    display: none;
  }
  .accueil__actualites .cartes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;
  }
  .accueil__actualites .cartes .hr-cartes {
    display: none;
  }
  .accueil__actualites .cartes .carte {
    background-color: #2C856D;
    border-radius: 30px;
    padding: 5%;
    position: relative;
    height: 100%;
  }
  .accueil__actualites .cartes .carte img {
    aspect-ratio: 16/9;
  }
  .accueil__actualites .cartes .carte p {
    color: #FFFBE2;
    font-weight: 100;
    margin-bottom: 80px;
    display: block;
  }
  .accueil__actualites .cartes .carte .bouton-lire {
    display: none;
  }
  .accueil__actualites .cartes .carte .bouton-lire-article {
    background-color: #F1BA85;
    color: #262127;
    font-weight: 900;
    border-radius: 18px;
    border-style: none;
    padding: 12px 20px;
    position: absolute;
    bottom: 4%;
    display: block;
    cursor: pointer;
  }
  .accueil__actualites .cartes .carte .bouton-lire-article:hover {
    background-color: #C15A2E;
  }
}
.accueil__hero {
  width: 100%;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.accueil__hero .swiper-container {
  width: 100%;
  height: 100%;
}
.accueil__hero .slides__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.accueil__hero .slide-1 {
  background-image: url(sources/medias/photo_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.accueil__hero .slide-2 {
  background-image: url(sources/medias/slider_hero_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100%;
}
.accueil__hero .slide-3 {
  background-image: url(sources/medias/slider_hero_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.accueil__hero h1 {
  color: #FFFBE2;
  font-size: 20px;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .accueil__hero h1 {
    font-size: 30px;
  }
  .accueil__hero .slides__container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 920px) {
  .accueil__hero h1 {
    font-size: 40px;
  }
  .accueil__hero .slides__container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.accueil__hero button {
  position: relative;
  background-color: #2C856D;
  color: #FFFBE2;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 30px;
  border-style: none;
  padding: 12px 20px;
  position: relative;
  margin-top: 20px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
}
.accueil__hero button:hover {
  background: #2c6c5a;
}
.accueil__hero .swiper-pagination-bullet-active {
  background-color: #F1BA85 !important;
}
.accueil__hero .swiper-pagination {
  position: relative !important;
  top: -10% !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #FFFBE2;
  padding: 8px 16px;
  border-radius: 100%;
  margin: 5%;
  opacity: 0;
  transform: scale(0.7);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #262127;
}

.swiper-button-prev::after {
  top: 0%;
  left: 50%;
  transform: translate(-12%, 0%);
}

.swiper-button-next::after {
  top: 0%;
  left: 50%;
  transform: translate(12%, 0%);
}

.fade-black {
  position: absolute;
  background-image: linear-gradient(transparent, #262127);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 365px) {
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 1;
  }
}
.accueil__nous-soutenir {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-color: #FFB8A4;
  position: relative;
  border-radius: 35px;
  width: 375px;
  height: 800px;
  margin: auto;
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 60px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
}
@media screen and (min-width: 768px) {
  .accueil__nous-soutenir {
    width: 680px;
  }
}
@media screen and (min-width: 1000px) {
  .accueil__nous-soutenir {
    height: 500px;
    width: 1000px;
  }
  .accueil__nous-soutenir .bouton-dollar .cinquente {
    color: aqua;
    left: 50px;
    display: flex;
  }
  .accueil__nous-soutenir .bouton-dollar {
    float: left;
    transform: translate(260px, -65px);
  }
  .accueil__nous-soutenir .bouton-faire-don {
    transform: translate(-176px, 50px);
  }
  .accueil__nous-soutenir .bouton-voir-plus {
    display: none;
  }
  .accueil__nous-soutenir .en-savoir-plus {
    display: flex;
    transform: translate(780px, 30px);
    cursor: pointer;
    text-decoration: underline;
  }
  .accueil__nous-soutenir .text-mots-encouragement {
    transform: translate(0%, -40px);
  }
}

.en-savoir-plus {
  display: none;
}

.text-nous-soutenir {
  display: flex;
  flex-direction: column;
  transform: translate(0, -10%);
  color: #C15A2E;
  font-size: 30px;
  font-weight: bolder;
}

.text-mots-encouragement {
  font-size: 15px;
  color: #262127;
  transform: translate(0, -50%);
}

.text-mots-merci {
  color: #2C856D;
  font-size: 30px;
  font-weight: bolder;
  transform: translate(0, -90%);
}

.bouton-dollar {
  transform: translate(0, -90%);
  margin: 10px;
  color: #262127;
  background-color: #FFFBE2;
  height: 70px;
  width: 95px;
  font-size: 35px;
  font-weight: bolder;
  border-radius: 15px;
  border-color: none;
  border: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
  cursor: pointer;
}
.bouton-dollar:hover {
  background: #e6e5e2;
}

.bouton-faire-don {
  transform: translate(0, -70%);
  margin: 10px;
  color: #FFFBE2;
  background-color: #C15A2E;
  height: 70px;
  width: auto;
  font-size: 35px;
  font-weight: bolder;
  border-radius: 15px;
  border-color: none;
  border: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
  cursor: pointer;
}
.bouton-faire-don:hover {
  background: #a8522e;
}

.bouton-voir-plus {
  transform: translate(0, -80%);
  margin: 10px;
  color: #FFFBE2;
  background-color: #2C856D;
  height: 40px;
  width: auto;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  border-color: none;
  border: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
  cursor: pointer;
}
.bouton-voir-plus:hover {
  background: #2c6c5a;
}

.accueil_services {
  display: flex;
  height: 100%;
}
.accueil_services__titre {
  text-transform: uppercase;
  color: #C15A2E;
  font-size: 30px;
  padding-left: 5%;
  padding-top: 0%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.accueil_services__texte {
  text-align: center;
  margin-bottom: 30px;
}
.accueil_services .hr-titre {
  display: none;
  color: #262127;
}
.accueil_services img {
  justify-content: center;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.14);
}
.accueil_services .container-informations {
  display: block;
}
.accueil_services .bouton-voir-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C15A2E;
  color: #FFFBE2;
  font-weight: 900;
  border-radius: 15px;
  border-style: none;
  position: relative;
  top: 30px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}
.accueil_services .bouton-voir-plus:hover {
  background: #a8522e;
}
.accueil_services br {
  display: block;
}
.accueil_services .savoir-plus {
  display: none;
}

@media only screen and (min-width: 365px) {
  .accueil_services__titre {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-top: 5%;
  }
  .accueil_services__texte {
    margin: 5%;
  }
  .accueil_services .hr-titre {
    width: 65%;
    padding: 0;
    display: block;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .accueil_services img {
    margin: 5%;
    width: 90%;
  }
  .accueil_services br {
    display: none;
  }
  .accueil_services .bouton-voir-plus {
    margin-top: 10%;
    margin-bottom: 0%;
  }
}
@media only screen and (min-width: 768px) {
  .accueil_services__texte {
    text-align: left;
    margin-left: 10%;
  }
  .accueil_services .hr-titre {
    width: 45%;
  }
  .accueil_services .savoir-plus {
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
    text-decoration: underline;
  }
  .accueil_services .bouton-voir-plus {
    display: none;
  }
  .accueil_services .container-informations {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .accueil_services img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    order: 2;
    max-width: 400px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 1200px) {
  .accueil_services__texte {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
  }
  .accueil_services .container-informations {
    display: grid;
    grid-template-columns: 1fr 35%;
  }
  .accueil_services img {
    max-width: 300px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.accueil_temoignages {
  width: 100%;
  overflow: hidden;
}
.accueil_temoignages__titre {
  text-transform: uppercase;
  color: #C15A2E;
  font-size: 30px;
  padding-left: 5%;
  padding-top: 0%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.accueil_temoignages__block {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: -6px;
}
.accueil_temoignages__photo1 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("sources/medias/carole-simon.jpg");
  background-size: cover;
  margin: 0 auto;
  position: relative;
  top: 60px;
  filter: drop-shadow(10px 4px 2px rgba(0, 0, 0, 0.2));
}
.accueil_temoignages__photo2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("sources/medias/fabiola.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  position: relative;
  top: 60px;
  filter: drop-shadow(10px 4px 2px rgba(0, 0, 0, 0.2));
}
.accueil_temoignages__photo3 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("sources/medias/jonathan.jpg");
  background-size: cover;
  margin: 0 auto;
  position: relative;
  top: 60px;
  filter: drop-shadow(10px 4px 2px rgba(0, 0, 0, 0.2));
}
.accueil_temoignages__couleur1 {
  width: 100%;
  height: 180px;
  background-color: #F1BA85;
  text-align: center;
}
.accueil_temoignages__couleur2 {
  width: auto;
  height: 180px;
  background-color: #C15A2E;
  text-align: center;
}
.accueil_temoignages__couleur3 {
  width: 100%;
  height: 180px;
  background-color: #2C856D;
  text-align: center;
}
.accueil_temoignages__texte {
  color: #FFFBE2;
  font-weight: bold;
  font-size: 20px;
  padding: 60px 40px 0 20px;
  margin: 0 50px 0 50px;
}
.accueil_temoignages__nom {
  color: #FFFBE2;
  font-weight: bold;
}
.accueil_temoignages__bouton {
  display: block;
  background-color: #C15A2E;
  color: #FFFBE2;
  height: 40px;
  font-weight: 900;
  font-size: 20px;
  border-radius: 15px;
  border-style: none;
  position: relative;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.253);
}
.accueil_temoignages__bouton:hover {
  background-color: #F1BA85;
}
.accueil_temoignages hr {
  display: none;
  color: #262127;
}
.accueil_temoignages__altbouton {
  display: none;
}
@media screen and (min-width: 375px) {
  .accueil_temoignages__titre {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-top: 5%;
  }
  .accueil_temoignages hr {
    width: 50%;
    padding: 0;
    display: block;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 800px) {
  .accueil_temoignages__block {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 65px;
  }
  .accueil_temoignages__photo1 {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-image: url("sources/medias/carole-simon.jpg");
    background-size: cover;
    margin: 0 auto;
    position: relative;
    top: -35px;
    filter: drop-shadow(10px 4px 2px rgba(0, 0, 0, 0.2));
    float: left;
    margin-left: 80px;
  }
  .accueil_temoignages__photo2 {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-image: url("sources/medias/fabiola.jpg");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
    top: -35px;
    filter: drop-shadow(10px 4px 2px rgba(0, 0, 0, 0.2));
    float: right;
    margin-right: 80px;
  }
  .accueil_temoignages__photo3 {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-image: url("sources/medias/jonathan.jpg");
    background-size: cover;
    margin: 0 auto;
    position: relative;
    top: -35px;
    filter: drop-shadow(10px 4px 2px rgba(0, 0, 0, 0.2));
    float: left;
    margin-left: 80px;
  }
  .accueil_temoignages__couleur1 {
    width: 100%;
    height: 160px;
    background-color: #F1BA85;
    text-align: center;
    margin-left: 120px;
    margin-bottom: 100px;
  }
  .accueil_temoignages__couleur2 {
    width: auto;
    height: 160px;
    background-color: #C15A2E;
    text-align: center;
    margin-right: 120px;
    margin-bottom: 100px;
  }
  .accueil_temoignages__couleur3 {
    width: 100%;
    height: 160px;
    background-color: #2C856D;
    text-align: center;
    margin-left: 120px;
    margin-bottom: 100px;
  }
  .accueil_temoignages__texte {
    color: #FFFBE2;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  .accueil_temoignages__nom {
    color: #FFFBE2;
    font-weight: bold;
    font-size: 14px;
  }
  .accueil_temoignages__bouton {
    display: none;
  }
  .accueil_temoignages__altbouton {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    text-decoration: underline;
  }
}
@media screen and (min-width: 1240px) {
  .accueil_temoignages__grid {
    width: 100%;
    height: 555px;
    background-color: #2C856D;
    background-image: url("sources/medias/bg_temoignages.svg");
    background-size: 125%;
    background-position: center;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-gap: 5%;
    padding-top: 45px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    position: relative;
  }
  .accueil_temoignages__block {
    width: 375px;
    height: 475px;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    top: 0;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: -6px;
  }
  .accueil_temoignages__photo1 {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background-image: url("sources/medias/carole-simon.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 50px;
    top: 0;
    filter: drop-shadow(10px 4px 2px rgba(0, 0, 0, 0.2));
  }
  .accueil_temoignages__photo2 {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background-image: url("sources/medias/fabiola.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 50px;
    top: 0;
    filter: drop-shadow(10px 4px 2px rgba(0, 0, 0, 0.2));
  }
  .accueil_temoignages__photo3 {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background-image: url("sources/medias/jonathan.jpg");
    background-size: cover;
    margin-left: 50px;
    top: 0;
    filter: drop-shadow(10px 4px 2px rgba(0, 0, 0, 0.2));
  }
  .accueil_temoignages__couleur1 {
    width: 420px;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    top: 0;
  }
  .accueil_temoignages__couleur2 {
    width: 420px;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
    top: 0;
  }
  .accueil_temoignages__couleur3 {
    width: 420px;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
    top: 0;
  }
  .accueil_temoignages__texte {
    color: #FFFBE2;
    max-width: 310px;
    font-weight: bold;
    font-size: 26px;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    text-align: left;
  }
  .accueil_temoignages__nom {
    color: #FFFBE2;
    font-weight: bold;
    margin-left: 50px;
    font-size: 18px;
    text-align: left;
  }
  .accueil_temoignages__bouton {
    display: none;
  }
  .accueil_temoignages__altbouton {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    text-decoration: underline;
  }
}

.news-article__hero {
  width: 100%;
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.news-article__hero .swiper-container {
  width: 100%;
  height: 100%;
  border-top: 15px solid #FFFBE2;
}
.news-article__hero .slides__texte {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  color: #FFFBE2;
}
.news-article__hero .slides__texte h1 {
  font-size: 30px;
}
.news-article__hero .slides__texte p {
  font-size: 20px;
}
.news-article__hero .slide-1 {
  background-image: url(sources/medias/page_news_article/actualite_hero_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  height: 100%;
}
.news-article__hero .slide-2 {
  background-image: url(sources/medias/page_news_article/actualite_hero_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100%;
}
.news-article__hero .slide-3 {
  background-image: url(sources/medias/page_news_article/actualite_hero_3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.news-article__hero .swiper-pagination-bullet-active {
  background-color: #F1BA85 !important;
}
.news-article__hero .swiper-pagination {
  position: relative !important;
  top: -10% !important;
}
.news-article__hero .fade-black {
  position: absolute;
  background-image: linear-gradient(transparent, #262127);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 768px) {
  .news-article__hero .slides__texte h1 {
    font-size: 45px;
  }
  .news-article__hero .slides__texte p {
    font-size: 25px;
  }
  .news-article__hero .swiper-container {
    border-top: 0px solid #FFFBE2;
  }
}

.news-article__nouvelle__titre {
  text-transform: uppercase;
  color: #C15A2E;
  font-size: 30px;
  padding-top: 0%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.news-article__nouvelle__texte {
  margin: 5%;
  text-align: center;
}
.news-article__nouvelle__resume {
  text-align: center;
}
.news-article__nouvelle__resume__container {
  background-color: rgba(241, 186, 133, 0.5);
  padding: 5%;
  margin-top: 5%;
}
.news-article__nouvelle ul {
  margin: auto;
  width: 600px;
}
.news-article__nouvelle .hr-titre {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 0;
  margin-left: 5%;
  margin-bottom: 3%;
  margin: auto;
}
.news-article__nouvelle button {
  position: relative;
  background-color: #2C856D;
  color: #FFFBE2;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 15px;
  border-style: none;
  padding: 12px 20px;
  position: relative;
  margin-top: 20px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
}
.news-article__nouvelle button:hover {
  background: #2c6c5a;
}
.news-article__nouvelle .prochaine-nouvelle {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (min-width: 365px) {
  .news-article__nouvelle .news-article__nouvelle__texte {
    font-size: 20px;
  }
  .news-article__nouvelle .news-article__nouvelle__resume {
    font-size: 20px;
  }
  .news-article__nouvelle button {
    font-size: 20px;
  }
  .news-article__nouvelle li {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .news-article__nouvelle .news-article__nouvelle__texte {
    text-align: start;
  }
}

.news-article__similaire {
  width: 100%;
  height: 100%;
  position: relative;
}
.news-article__similaire__titre {
  text-transform: uppercase;
  color: #C15A2E;
  font-size: 30px;
  padding-top: 0%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.news-article__similaire .hr-titre {
  width: 65%;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}
.news-article__similaire .cartes {
  display: none;
}
.news-article__similaire .cartes-swiper {
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}
.news-article__similaire .cartes-swiper .swiper-container2 {
  width: 100%;
  height: 100%;
}
.news-article__similaire .cartes-swiper .carte {
  background-color: #2C856D;
  border-radius: 30px;
  padding: 5%;
  margin: 5%;
  height: 40vh;
  position: relative;
  cursor: pointer;
}
.news-article__similaire .cartes-swiper .carte:hover {
  background: #2c6c5a;
}
.news-article__similaire .cartes-swiper .carte img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.news-article__similaire .cartes-swiper .carte h3 {
  color: #FFFBE2;
  margin-bottom: 30px;
  text-align: center;
}
.news-article__similaire .cartes-swiper .carte p {
  color: #FFFBE2;
  font-weight: 100;
  margin-bottom: 80px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .news-article__similaire .cartes-swiper {
    display: none;
  }
  .news-article__similaire .cartes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;
    margin-top: 5%;
    margin-bottom: 12%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .news-article__similaire .cartes .hr-cartes {
    display: none;
  }
  .news-article__similaire .cartes .carte {
    background-color: #2C856D;
    border-radius: 30px;
    padding: 5%;
    position: relative;
    height: 90%;
    margin: 5%;
    cursor: pointer;
  }
  .news-article__similaire .cartes .carte:hover {
    background: #2c6c5a;
  }
  .news-article__similaire .cartes .carte img {
    width: 100%;
    border-radius: 25px;
    aspect-ratio: 16/9;
  }
  .news-article__similaire .cartes .carte h3 {
    color: #FFFBE2;
    margin-bottom: 30px;
    text-align: center;
  }
  .news-article__similaire .cartes .carte p {
    color: #FFFBE2;
    font-weight: 100;
    display: block;
    text-align: center;
  }
  .news-article__similaire .cartes .carte--02 {
    top: 50px;
  }
}

.news-hub_une {
  height: 100%;
  position: relative;
}
.news-hub_une a {
  text-decoration: none;
}
.news-hub_une__titre {
  text-transform: uppercase;
  color: #C15A2E;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.news-hub_une__texte {
  text-align: start;
}
.news-hub_une .hr-titre {
  display: none;
  color: #262127;
}
.news-hub_une img {
  justify-content: center;
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  order: 1;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.14);
}
.news-hub_une .container-informations {
  display: grid;
  padding: 5% 10%;
  position: relative;
}
.news-hub_une .container-informations .container-texte {
  order: 2;
}
.news-hub_une .bouton-lire-article {
  display: none;
}
.news-hub_une .bouton-savoir-plus {
  position: relative;
  background-color: #C15A2E;
  color: #FFFBE2;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 15px;
  border-style: none;
  padding: 12px 20px;
  margin-top: 20px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
  display: flex;
  transition-duration: 0.2s;
}
.news-hub_une .bouton-savoir-plus:hover {
  background: #a8522e;
}
@media only screen and (min-width: 365px) {
  .news-hub_une__texte {
    font-size: 20px;
  }
  .news-hub_une__titre {
    text-transform: uppercase;
    color: #C15A2E;
    font-size: 30px;
    display: flex;
    justify-content: start;
    margin-left: 5%;
    margin-bottom: 0%;
  }
  .news-hub_une .hr-titre {
    width: 65%;
    padding: 0;
    display: block;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .news-hub_une .bouton-savoir-plus {
    position: relative;
    background-color: #C15A2E;
    color: #FFFBE2;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 15px;
    border-style: none;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
  }
  .news-hub_une .bouton-savoir-plus:hover {
    background: #a8522e;
  }
}
@media only screen and (min-width: 768px) {
  .news-hub_une img {
    order: 2;
    display: flex;
    align-self: center;
    height: 100%;
    max-height: 300px;
  }
  .news-hub_une .container-informations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  .news-hub_une .container-informations .container-texte {
    margin-right: 5%;
  }
  .news-hub_une .bouton-savoir-plus {
    display: none;
  }
  .news-hub_une .bouton-lire-article {
    position: relative;
    background-color: #F1BA85;
    color: #262127;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 15px;
    border-style: none;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: start;
    transition-duration: 0.2s;
  }
  .news-hub_une .bouton-lire-article:hover {
    background-color: #C15A2E;
  }
}

.news-hub__en-continu {
  width: 100%;
  height: 100%;
  position: relative;
}
.news-hub__en-continu a {
  text-decoration: none;
}
.news-hub__en-continu .titre {
  text-transform: uppercase;
  color: #C15A2E;
  font-size: 30px;
  padding-left: 5%;
  padding-top: 0%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.news-hub__en-continu .menu-pages {
  background-color: #2C856D;
  padding: 5%;
  position: relative;
  margin-bottom: 30px;
}
.news-hub__en-continu .menu-pages__cercles {
  background-color: #FFFBE2;
  padding: 2%;
  display: flex;
  justify-self: center;
  gap: 5%;
  position: relative;
  border-radius: 15px;
  width: 85px;
}
.news-hub__en-continu .menu-pages__cercle {
  position: relative;
  background-color: #2C856D;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.news-hub__en-continu .menu-pages__cercle p {
  margin: 0;
  text-align: center;
  color: #FFFBE2;
}
.news-hub__en-continu .menu-pages__cercle:hover {
  background-color: #F1BA85;
}
.news-hub__en-continu .pagination-button.active {
  background-color: #F1BA85;
}
.news-hub__en-continu #button1 .cartes {
  position: relative;
  width: 100%;
}
.news-hub__en-continu .cartes {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #2C856D;
  padding: 5%;
  position: relative;
}
.news-hub__en-continu .cartes .carte {
  border-radius: 30px;
  padding: 5%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition-duration: 0.2s;
  min-height: 300px;
}
.news-hub__en-continu .cartes .carte:hover {
  background: #2c6c5a;
  cursor: pointer;
}
.news-hub__en-continu .cartes .carte__textes {
  position: relative;
  top: 0px;
}
.news-hub__en-continu .cartes .carte__textes__sous-titre {
  display: none;
}
.news-hub__en-continu .cartes .carte img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
  order: 2;
  display: flex;
  align-self: center;
}
.news-hub__en-continu .cartes .carte p {
  color: #FFFBE2;
  padding-right: 10%;
}
.news-hub__en-continu .cartes .carte h3 {
  color: #FFFBE2;
  margin-bottom: 10px;
  padding-right: 10%;
}
.news-hub__en-continu .cartes .carte .bouton-lire {
  display: block;
  background-color: #F1BA85;
  color: #262127;
  font-weight: 900;
  border-radius: 30px;
  border-style: none;
  padding: 12px 20px;
  float: right;
  display: block;
  position: relative;
  right: 10px;
  top: -60px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.news-hub__en-continu .cartes .carte .bouton-lire:hover {
  background-color: #C15A2E;
}
.news-hub__en-continu .cartes .carte .bouton-lire-article {
  display: none;
}
.news-hub__en-continu .cartes hr {
  width: 80%;
  padding: 0;
}
.news-hub__en-continu .cartes .hr-cartes {
  display: block;
  color: #FFFBE2;
  width: 90%;
}
.news-hub__en-continu .hr-titre {
  display: none;
  color: #262127;
}
.news-hub__en-continu .bouton-voir-plus {
  display: block;
  background-color: #C15A2E;
  color: #FFFBE2;
  font-weight: 900;
  border-radius: 15px;
  border-style: none;
  position: relative;
  top: 30px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}
.news-hub__en-continu .bouton-voir-plus:hover {
  background: #a8522e;
}
.news-hub__en-continu .cartes-swiper {
  display: none;
}
@media only screen and (min-width: 365px) {
  .news-hub__en-continu .menu-pages {
    background-color: transparent;
  }
  .news-hub__en-continu .menu-pages__cercles {
    background-color: transparent;
    padding: 0%;
  }
  .news-hub__en-continu .menu-pages__cercle {
    width: 40px;
    height: 40px;
  }
  .news-hub__en-continu .hr-titre {
    width: 65%;
    padding: 0;
    display: block;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .news-hub__en-continu .titre {
    display: flex;
    justify-content: start;
    margin-left: 5%;
    margin-bottom: 0%;
    padding: 0;
  }
  .news-hub__en-continu .cartes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: transparent;
    padding: 5%;
  }
  .news-hub__en-continu .cartes .hr-cartes {
    display: none;
    color: #FFFBE2;
  }
  .news-hub__en-continu .cartes .carte {
    border-radius: 30px;
    padding: 5%;
    position: relative;
    display: block;
    background-color: #2C856D;
  }
  .news-hub__en-continu .cartes .carte__textes__date {
    display: none;
  }
  .news-hub__en-continu .cartes .carte__textes__sous-titre {
    display: block;
  }
  .news-hub__en-continu .cartes .carte img {
    aspect-ratio: 4/3;
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .news-hub__en-continu .cartes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .news-hub__en-continu .cartes .carte {
    position: relative;
  }
  .news-hub__en-continu .cartes .carte__textes__sous-titre {
    display: block;
    margin-bottom: 80px;
  }
  .news-hub__en-continu .cartes .carte .bouton-lire-article {
    position: absolute;
    bottom: 15px;
    background-color: #F1BA85;
    color: #262127;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 15px;
    border-style: none;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
  }
  .news-hub__en-continu .cartes .carte .bouton-lire-article:hover {
    background-color: #C15A2E;
  }
  .news-hub__en-continu .menu-pages {
    background-color: transparent;
    padding: 0;
  }
  .news-hub__en-continu .menu-pages__cercles {
    background-color: transparent;
    padding: 0%;
  }
  .news-hub__en-continu .menu-pages__cercle {
    width: 50px;
    height: 50px;
  }
}

.news-hub__consultes {
  width: 100%;
  height: 100%;
  position: relative;
}
.news-hub__consultes a {
  text-decoration: none;
}
.news-hub__consultes__titre {
  text-transform: uppercase;
  color: #C15A2E;
  font-size: 30px;
  padding-left: 5%;
  padding-top: 0%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  text-align: center;
}
.news-hub__consultes .cartes {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5%;
  position: relative;
}
.news-hub__consultes .cartes .carte {
  border-radius: 30px;
  padding: 5%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition-duration: 0.2s;
}
.news-hub__consultes .cartes .carte__textes__sous-titre {
  display: none;
}
.news-hub__consultes .cartes .carte:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.news-hub__consultes .cartes .carte img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
  order: 2;
  display: flex;
  align-self: center;
}
.news-hub__consultes .cartes .carte p {
  padding-right: 10%;
}
.news-hub__consultes .cartes .carte h3 {
  margin-bottom: 10px;
  padding-right: 10%;
}
.news-hub__consultes .cartes .carte h2 {
  margin-bottom: 0;
}
.news-hub__consultes .cartes hr {
  width: 80%;
  padding: 0;
}
.news-hub__consultes .cartes .hr-cartes {
  display: block;
  color: #FFFBE2;
  width: 90%;
}
.news-hub__consultes .hr-titre {
  display: none;
  color: #262127;
}
@media only screen and (min-width: 365px) {
  .news-hub__consultes .hr-titre {
    width: 65%;
    padding: 0;
    display: block;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .news-hub__consultes__titre {
    display: flex;
    justify-content: start;
    margin-left: 5%;
    margin-bottom: 0%;
    padding: 0;
    text-align: left;
  }
  .news-hub__consultes .cartes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: transparent;
    padding: 5%;
  }
  .news-hub__consultes .cartes .hr-cartes {
    display: none;
    color: #FFFBE2;
  }
  .news-hub__consultes .cartes .carte--02 {
    background-image: url(sources/medias/actualite_27_aout_hlm.jpg);
  }
  .news-hub__consultes .cartes .carte--01 {
    background-image: url(sources/medias/actualite_27_aout_innondations.jpg);
  }
  .news-hub__consultes .cartes .carte--03 {
    background-image: url(sources/medias/actuaite_19_aout_benoit.jpg);
  }
  .news-hub__consultes .cartes .carte--04 {
    background-image: url(sources/medias/actualite_20_aout_manifestation.png);
  }
  .news-hub__consultes .cartes .carte {
    border-radius: 30px;
    padding: 0%;
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .news-hub__consultes .cartes .carte__textes {
    background-color: #2C856D;
    padding: 8%;
    border-radius: 0 30px 30px 0;
    opacity: 90%;
    color: #FFFBE2;
    position: relative;
    left: 100%;
  }
  .news-hub__consultes .cartes .carte__textes__sous-titre {
    display: block;
  }
  .news-hub__consultes .cartes .carte h2 {
    color: #2C856D;
    background-color: #FFFBE2;
    text-align: center;
    width: 30px;
    padding: 5px;
    border-radius: 10px;
  }
  .news-hub__consultes .cartes .carte img {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .news-hub__consultes .cartes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .news-hub__consultes .cartes .carte {
    position: relative;
  }
}

.service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.service__congrecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  max-width: 42vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
.service__congrebackgroundcontainer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(44, 133, 109, 0.337254902);
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
}
.service__associationbackgroundcontainer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(193, 90, 46, 0.4588235294);
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
}
.service__ccrbackgroundcontainer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(241, 185, 133, 0.4666666667);
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
}
.service__locatairebackgroundcontainer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(44, 133, 109, 0.337254902);
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
}
.service__congretitre {
  font-size: 3.5vh;
  color: #FFFBE2;
  transition: transform 0.5s;
  transform: translate(0vh, 13vh);
}
.service__textcongres {
  padding-left: 2vh;
  padding-right: 2vh;
  height: 100%;
  min-height: 22vh;
}
.service__congretexte {
  font-size: 1.6vh;
  color: rgba(240, 248, 255, 0);
  transition: 0.5s;
}
.service__shadowcolor {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.247);
  z-index: 1;
  height: auto;
  border-radius: 25px;
  transition: 2s;
  padding: 20px;
}
.service__ensavoirplus {
  padding-top: 2vh;
}
.service__ensavoirplus .bouttonsavoirplus {
  color: rgba(240, 248, 255, 0);
  background-color: rgba(0, 139, 139, 0);
  height: 5vh;
  width: 100%;
  max-width: 15vh;
  font-size: 1.8vh;
  font-weight: bolder;
  border-radius: 15px;
  border-color: none;
  border: rgba(0, 0, 0, 0);
  text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 0.5s;
}
.service__ensavoirplus .bouttonsavoirplus:hover {
  background: #1b5747;
  height: 5.2vh;
  max-width: 15.2vh;
  font-size: 1.85vh;
}
.service__insidecontainer__congres {
  background: no-repeat url(sources/medias/page_service/congres.png);
  background-size: cover;
  border-radius: 25px;
}
.service__insidecontainer__congres:hover .service__congretexte {
  color: #FFFBE2;
}
.service__insidecontainer__congres:hover .service__congretitre {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0vh, 1vh);
  transition: 0.3s;
}
.service__insidecontainer__congres:hover .bouttonsavoirplus {
  color: #FFFBE2;
  background-color: #2C856D;
  text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
}
.service__insidecontainer__congres:hover .service__shadowcolor {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.644);
  z-index: 1;
  height: auto;
}
.service__insidecontainer__association {
  background: no-repeat url(sources/medias/page_service/association.png);
  background-size: cover;
  border-radius: 25px;
}
.service__insidecontainer__association:hover .service__congretexte {
  color: #FFFBE2;
}
.service__insidecontainer__association:hover .service__congretitre {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0vh, 1vh);
  transition: 0.3s;
}
.service__insidecontainer__association:hover .bouttonsavoirplus {
  color: #FFFBE2;
  background-color: #2C856D;
  text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
}
.service__insidecontainer__association:hover .service__shadowcolor {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.644);
  z-index: 1;
  height: auto;
}
.service__insidecontainer__ccr {
  background: no-repeat url(sources/medias/page_service/ccr.png);
  background-size: cover;
  border-radius: 25px;
}
.service__insidecontainer__ccr:hover .service__congretexte {
  color: #FFFBE2;
}
.service__insidecontainer__ccr:hover .service__congretitre {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0vh, 1vh);
  transition: 0.3s;
}
.service__insidecontainer__ccr:hover .bouttonsavoirplus {
  color: #FFFBE2;
  background-color: #2C856D;
  text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
}
.service__insidecontainer__ccr:hover .service__shadowcolor {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.644);
  z-index: 1;
  height: auto;
}
.service__insidecontainer__locataire {
  background: no-repeat url(sources/medias/page_service/locataire.png);
  background-size: cover;
  border-radius: 25px;
}
.service__insidecontainer__locataire:hover .service__congretexte {
  color: #FFFBE2;
}
.service__insidecontainer__locataire:hover .service__congretitre {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0vh, 1vh);
  transition: 0.3s;
}
.service__insidecontainer__locataire:hover .bouttonsavoirplus {
  color: #FFFBE2;
  background-color: #2C856D;
  text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.281);
}
.service__insidecontainer__locataire:hover .service__shadowcolor {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.644);
  z-index: 1;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .service .service__congrecontainer {
    max-width: 65vh;
  }
  .service .service__congretitre {
    font-size: 4vh;
  }
  .service .service__congretexte {
    font-size: 2vh;
    color: rgba(240, 248, 255, 0);
    transition: 0.5s;
  }
}
@media only screen and (min-width: 1600px) {
  .service .service__congrecontainer {
    max-width: 80vh;
  }
  .service .service__congretitre {
    font-size: 4vh;
  }
  .service .service__congretexte {
    font-size: 2.2vh;
    color: rgba(240, 248, 255, 0);
    transition: 0.5s;
  }
  .service .service__shadowcolor {
    padding: 50px;
  }
}

@font-face {
  src: url("./sources/font/ebrima.ttf") format("truetype");
  font-family: "ebrima";
}
html {
  font-family: "ebrima";
  overflow-x: hidden;
  background-image: url(./sources/medias/background.png);
  background-size: cover;
}

body {
  margin: 0;
}

.division-sections {
  width: 80%;
  display: block;
}

@media only screen and (min-width: 375px) {
  .division-sections {
    display: none;
  }
}
:root {
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: #ffff;
}/*# sourceMappingURL=style.css.map */