@use 'partials-scss/navbar';
@use 'partials-scss/variables';
@use 'partials-scss/footer';
@use 'partials-scss/header';
@use 'partials-scss/accueil-actualites';
@use 'partials-scss/accueil-hero';
@use 'partials-scss/accueil-nous-soutenir';
@use 'partials-scss/accueil-services';
@use 'partials-scss/accueil-temoignages';
@use 'partials-scss/page_news_article';
@use 'partials-scss/page_news_hub';
@use 'partials-scss/page-service-hub';
@use 'partials-scss/page-service';
@use 'partials-scss/404-hub';


@font-face {
    src: url("./sources/font/ebrima.ttf") format("truetype");
    font-family: "ebrima";
  }

html {
    font-family: "ebrima";
    overflow-x: hidden;
    background-image: url(./sources/medias/background.png);
    background-size: cover;
}

body {
  margin: 0;
}

.division-sections {
  width: 80%;
  display: block;
}

@media only screen and (min-width: 375px) {
  .division-sections {
    display: none;
  }
}

:root {
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: #ffff;
}